[2017-04-17 18:17] shaddockh commented on #1523
That looks like it's trying to read the global variable set on the web view, but it doesn't exist.  That variable should be set when the project is being loaded at:
https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Script/AtomicEditor/editor/Editor.ts#L233

Do you know if that line is being accessed prior to the text editor opening?

[2017-04-17 18:49] JimMarlowe commented on #1523
I had been only looking at existing projects when this was happening. Reading between lines, I created a new project, and it is able to load files. Then going back to my existing projects, they too can now load files again. You fixed it :camel:
But there is some condition somewhere that causes this problem, now that mine is healed, Im of no help.

[2017-04-17 19:44] shaddockh commented on #1523
Yes, it looks like it.  But that shouldn't be causing the error you reported.  It appears that might be an old entry in there.  The code is setting the value to:

``` "codeEditor": { "theme": "??" },```

[2017-04-17 20:27] JimMarlowe commented on #1523
@shaddockh you were correct about my "CodeEditor" block, that must have been when I was doing the theme switching...  Now after dumping everything and rebuilding, I am able to reproduce the issue. What I'm finding is, If I start an existing project with "junk" in my projectname.atomic, I can't load text files UNLESS I load a project that contains "good" contents in the  projectname.atomic, then th

[2017-04-17 21:07] JimMarlowe commented on #1523
I could probably put my comments into well-form json :rofl: or just keep my comments in another file. Case closed.

[2017-04-17 21:07] #1523 closed

[2017-04-18 03:02] JimMarlowe opened #1525 "./Build_AtomicEditor.sh --with-web building errors"
There are two files that do not compile for --with-web, Input.cpp and FileSystem.cpp, specificity for emscripten,

[2017-04-18 19:16] JoshEngebretson commented on #1525
WebGL is currently the only platform without CI checks on PR's.  There is probably a light amount of work getting it building/running again with the recent updates.  There is also apparently some work in the Urho build for WASM support, would be interesting to look into...

[2017-04-18 21:25] JimMarlowe commented on #1525
in FileSystem.cpp FileSystem::GetProgramDir() has an ATOMIC block of code in it for support of #1209, #1217, and uses variables that are no longer in the class. If an OSX project can deployed successfully, the code can be removed.
in Input.cpp, the Cursor class is no longer being used, its commented out for all other platforms, not in emscripten functions.

WASM support appears to manifest itself

[2017-04-19 16:02] JoshEngebretson commented on #1525
Closed via #1526 👍

[2017-04-19 16:02] #1525 closed

[2017-04-19 17:23] JoshEngebretson opened #1527 "Investigate command line settings not overriding settings in Engine.json"
It appears settings contained in Engine.json are not being overridden by command line options.  Discussion: https://discourse.atomicgameengine.com/t/solved-changing-window-size/251/5

[2017-04-20 15:37] JimMarlowe commented on #1449
I'm considering this completed. With the https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Editor-Extensions page and the EditorPlugins example, this is enough to successfully apply what is available.

[2017-04-20 15:37] #1449 closed

[2017-04-20 15:41] JimMarlowe commented on #715
closed with #1450

[2017-04-20 15:41] #715 closed

[2017-04-24 05:02] bosoni opened #1528 "Atomic Editor CollisionShape update"
When I create RigidBody and CollisionShape for my 3d-model, and then change collision shape's parameters, it doesnt update them in real time (ie I change Shape Type to Sphere, it doesnt change it from the Box (Size doesnt update either)). I have to close my Test.scene and open it again, then it shows new settings.
Changing Offset Position and Offset Rotation works.

[2017-05-15 02:52] shaddockh opened #1532 "Issues from upstream Urho Merge"
I'm trying to track down some issues that I've been running into ever since the latest upstream Urho changes have been merged down.  I've compiled a version of master before and after the Urho changes to make sure that was where the issues surfaced.

1) The editor High DPI settings seem to have been broken.  On a high dpi screen, the editor is really tiny after the update.

2) The event system see

[2017-05-15 09:26] mattbenic opened #1533 "Editor camera view should not be persisted in scene data"
Currently when opening a scene, flying around the scene with the editor camera and hitting save, the scene file changes. This really shouldn't be persisted to the scene file, but to an ignorable user-only file.

[2017-05-15 13:22] mattbenic opened #1534 "[C#] Enum inspector values are incorrectly determined when serializing"
Currently, it appears that enum values set in the inspector are set by assigning the value corresponding to an enum's position in the list of enum values, rather than the actual enum value. For example, TextureUnit is defined (in C#) as:
[code]

If a wrapper enum like the following is used (to get around #990):
[code]
And a TextureUnit field exposed to the inspector:
[code]

Setting the value to T

[2017-05-15 13:48] JoshEngebretson commented on #1532
1) This may be macOS specific or could affect Windows/Linux too.  This could be an SDL patch that needs to be reapplied or something handled a bit differently.

2)  Hrm, a bit more concerning will need to look into changes in the event system which may have intentionally been made or perhaps an issue with the update process

Thanks for the reports, I'll look into reproducing the DPI issue and have

[2017-05-15 13:55] JoshEngebretson commented on #1534
The texture unit enum is a special case (with special handling) as it has preprocessor guards/values for desktop/mobile: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/1574c8d0803b384b6045e00e1a73b13426ec7afe/Source/Atomic/Graphics/GraphicsDefs.h#L326

I will look into this today to see if it is a general issue or with this enum specifically

[2017-05-15 13:59] JoshEngebretson commented on #1533
The scene cam's location/rotation is currently saved/loaded from the scene's asset file:

https://github.com/AtomicGameEngine/AtomicExamples/blob/master/RoboMan3D/JavaScript/Resources/Scenes/Test.scene.asset#L5

.. and the camera's node is marked temporary:

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Source/AtomicEditor/Editors/SceneEditor3D/SceneView3D.cpp#L115

What is the

[2017-05-15 14:01] mattbenic commented on #1533
Apologies, I did mean the asset file, not the scene file itself. Same issue there, those are files that get persisted to source control, so really shouldn't contain any per-user data

[2017-05-15 14:03] JoshEngebretson commented on #1533
Ah, yes, and it is the same issue just a different file :)

[2017-05-15 14:18] shaddockh commented on #1532
I'm seeing this behavior in TS/JS and unfortunately only seeing it in a large example.  I'll see if I can  reproduce it in a smaller example... it's a tricky one...almost as if something went from single-threaded to multi-threaded.

[2017-05-15 16:35] JoshEngebretson commented on #1532
I am doing some testing on 1, though it should be resolved with #1535

There were some significant changes with events in the update, have a look at the diff in Object.cpp in 404afffddfa02a77101af6c6c4f9b534db12e66c, have you tried to trip this with built in events or just haven't noticed it with them (custom/built in events should be functionally identical, as the only different is that the event

[2017-05-15 17:29] shaddockh commented on #1532
I had the same thought.  I noticed those changes last night as I was going through the diff, and  I was planning on testing out rolling back Object.cpp to see if that fixed it.  If it did, I was going to incrementally add back in the changes to see where it breaks.

[2017-05-15 17:52] treefort opened #1536 "[Windows] Android API level dropdown does not populate"
Using the UIWebView example project, after setting the Android SDK path and clicking "Refresh" next to the Android API Level dropdown, the dropdown is never populated.

I'm running AGE under Windows 10. I've tried reinstalling, creating a new project, moving the Android SDK to different directories, all with the same results.

Android SDKs installed:
![image](https://cloud.githubusercontent.com/as

[2017-05-16 01:06] JoshEngebretson commented on #1536
There are some differences between the Android Studio SDK and Android SDK setups, check out these docs for Android deployment which cover installing the Android SDK: https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Android-Deployment-Setup

I'd like to get Atomic integrated with Android Studio or at least patched to be able to use SDK's from the Android Studio install (which are hidden in

[2017-05-16 01:34] JoshEngebretson commented on #1534
This turned out to be a bit more involved than I first thought,  part of which was a misguided effort to make it possible to set enum fields both by numeric value and string enum name...

I have a branch up here: https://github.com/AtomicGameEngine/AtomicGameEngine/tree/JME-ATOMIC-1534

... and a test here: https://github.com/AtomicGameEngine/AtomicTests/tree/JME-ATOMIC-ENUMUPDATE/CSharpTests/Insp

[2017-05-16 03:57] treefort commented on #1536
I'm thinking the individual SDK setups are being phased out. The [page](http://developer.android.com/sdk/index.html) you reference in the Android deployment setup contains links to download Android Studio or just the command line tools (which includes `sdkmanager`). Using `sdkmanager` to pull down android-25 and setting the respective SDK path in AGE (outside of AppData) also failed to populate th

[2017-05-16 08:04] madsystem commented on #1536
The reason for this behavior is that some sdk's have diffrent platform tool implementations (some bat files / commands are slightly different). So what seemed to be compliant with the AGE implementation are the SDKs provided by Visual Studio or Nsight (what I use).

[2017-05-16 11:17] JoshEngebretson commented on #1536
Here's the code which refreshes the API Level targets:

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/c768721579ccbfb4113b7011ea1151a51cad9821/Source/ToolCore/Platform/PlatformAndroid.cpp#L97

which uses ```GetAndroidCommand()```, which looks for it as ```AndroidSDK/tools/android.bat``` on Windows.  I am seeing this file in ```C:\Users\Josh\AppData\Local\Android\sdk\tools\android.bat``

[2017-05-16 11:28] madsystem commented on #1536
because it calls "list targets" but some (at least the one installed from Android Studio) are using the command "list target" ... also the output is diffrent if I remember it correctly.  fun huh ;)

[2017-05-16 13:40] treefort commented on #1536
If I had to guess, AGE is locating android.bat and has the necessary permissions to run it, but the output is hung up on this `y/n` prompt:
[code]

[2017-05-16 15:45] mattbenic commented on #1534
Persisting them by enum name does make more sense. It's also quite possible that the enum names might change, so as far as change resilience goes you just can't win ;)

[2017-05-16 17:04] JoshEngebretson opened #1537 "[C#, Android] Building editor with Android C# on Windows, adb.exe process hangs stalling build"
When building editor with Android C# support on Windows, adb.exe process hangs stalling build.   Opening TaskManager and killing adb.exe, successfully completes the build

[2017-05-16 17:57] JoshEngebretson commented on #1534
Yeah, in he case of the name changing the best we can do is change to default, which is what happens now.

This was a short odyssey, check out #1538

I made CSComponentAssembly type information available at runtime, which was necessary to map the enum strings to corresponding values.  It is also something that will be useful to have moving forward, and really can't be generated on the fly (some of

[2017-05-16 18:13] JoshEngebretson commented on #1534
Closed via #1538

[2017-05-16 18:13] #1534 closed

[2017-05-17 01:04] shaddockh commented on #1532
I didn't have much luck with rolling back changes in ```Object.cpp```.  It doesn't appear that those changes were the issue, but quite a bit changed in dependent code so it's hard to tell.  It *could* be something with the JS interface, but I'm going to focus on trying to put together a simple example that reproduces the issue.

[2017-05-17 13:16] JoshEngebretson commented on #1532
@shaddockh Thanks, maybe one of the examples exhibits it?  I can get my dive suit on once it can be reproduced.  The editor is a pretty big "case" and haven't seen anything while in there, and have been using it quite a bit between Glow and issues work since update.

[2017-05-17 13:43] shaddockh commented on #1532
It's possible that what I've built could be incorrect and was exploiting a bug that was fixed by the changes...that's also something I'm tracking down.  I'll update when I have more info.  Basically, I'm tracking down two issues: A) The order that events are fired when components are spawned and B) the case I ran into with the events firing off in an infinite loop.  I still think B may be a bug, b

[2017-05-18 16:39] benwolf opened #1539 "[C#, Linux] Running C# project from editor/monodevelop exception"
After clean build from github the editor (and monodevelop) will build c# project but won't run.

Instead error is generated:
[code]

This is happening on Linux Mint, unsure about other distros. Meo @MJ-meo-dmt is also having the same issue.

[2017-05-18 19:33] JoshEngebretson commented on #1539
I am wondering if ```__MonoCS__``` isn't defined here, so looking for ```AtomicNETNative.dll``` instead of ```AtomicNETNative.so```, though I thought mono had fallbacks for different extensions: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/b32120f34eff1e4072e799aca516939e08b23879/Script/AtomicNET/AtomicNET/Core/Constants.cs#L10

[2017-05-18 21:56] JoshEngebretson commented on #1539
This should be fixed by https://github.com/AtomicGameEngine/AtomicGameEngine/commit/1bb4c897687dcc048c8a6be5f38352b1900e27ce which is now on master, lemme know 🐫

[2017-05-19 03:46] Alan-FGR opened #1541 "Setting graphics subsystem mode doesn't work as expected - can't make window resizable"
I couldn't find a way to make the window resizable after it's created, this call for example:
    `GetSubsystem<Graphics>().SetMode(1280,720,false,false,true,false,false,true,0);`
where I'm passing 'true' for the resizable parameter doesn't make it resizable.
On a related note, you may want to provide SetSize() and SetResizable() or setters to easily manipulate those values. I think that a Size ge

[2017-05-19 04:48] benwolf commented on #1539
Yep that fixed it for me. Just want to see if it worked for Meo and then this should be good to close.

[2017-05-19 07:59] MJ-meo-dmt commented on #1539
Sorry for the delay, It worked  100%

[2017-05-19 11:21] benwolf commented on #1539
Excellent, all sorted! Closing :camel: :+1:

[2017-05-19 11:21] #1539 closed

[2017-05-19 22:07] shaddockh commented on #1532
I'm going to close this.  I haven't been able to reproduce the issues.  I think I've tracked down the infinite loop and it's something going on in my code.  From what I can tell, fixing the event system bubbled up some issues in my code that just worked before the change.  I'll re-open if I determine that it is actually something outside of what I'm doing.

BTW, the High DPI fix worked. 👍

[2017-05-19 22:07] #1532 closed

[2017-05-24 15:26] JoshEngebretson opened #1543 "[Scripting] Generate file with list of rejected C++ API signatures"
Generating a file with an organized list of rejected public C++ API signatures, based on unsupported return or parameter types, would be very useful.

[2017-05-24 18:30] shearer12345 opened #1544 "nonet flag isn't applied automatically in all cases - PCL Reference Assemblies not installed"
The linux build instructions say that

My build (`sh Build_AtomicEditor.sh`) errors with
`/usr/lib/mono/4.5/Microsoft.Common.targets: error : PCL Reference Assemblies not installed.`

 as mono wasn't installed.

It seems that it isn't detection that mono isn't installed, and is trying to build with C# features.

* Installing mono ([as detailed](https://github.com/AtomicGameEngine/AtomicGameEngine/

[2017-05-24 19:55] JoshEngebretson commented on #1544
Thanks for the report, we're looking for xbuild here and turn on ```nonet``` if not found, probably needs a better check: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build/Scripts/BuildConfig.js#L36

[2017-05-25 20:04] Nyt0x opened #1545 "D3d11 deferred rendering broken"
So far it seem to point toward something broken when using d3d11 in deferred with perpixel lights. (Maybe there's more things broken)

Could be related to recent changes on the way defines are handled for shader d3d11 variations.

To repro that isuue easily just run a sample scene (Water sample, rotating chest sample) in deferred (you might have to either force the editor or the player to run in d

[2017-05-26 18:55] Nyt0x commented on #1545
Taking a capture with renderdoc it seems that only the viewport render target is bound in deffered the albedo/normal/depth are not during the scenepass.

[2017-05-29 20:13] Nyt0x commented on #1545
As a quick test I just disable creating any texture using msaa, directly in Texture2D::Create by commenting out this: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Source/Atomic/Graphics/Direct3D11/D3D11Texture2D.cpp#L384 to force no multisampling

No more issue with deferred rendering. Output RT are bound correctly.

Not sure yet why it doesn't work.. I don't remember any d3d l

[2017-05-29 20:54] JoshEngebretson commented on #1545
Good sleuthing, this doesn't happen on Urho master correct?

[2017-05-29 21:04] Nyt0x commented on #1545
Did not test Urho master, it's been a while I did not touch it (since I switch onto AGE :D ). If I find the time I will.
However, my bet would be that the additional RT for deferred that are defined in the renderpath do not take the msaa value the viewport RT is define with, hence why d3d does not bind them (and why I get the d3d error telling me the RT are of different sizes).

I'm not sure how t

[2017-05-30 21:43] Ahmed0425 opened #1546 "support for DragonBones pro?"
I believe that Atomic game engine is better than many other open source game engines except for the fact that you have to pay to buy Spriter (and I believe that breaks the open source freedom concept)
If [dragonbones](http://dragonbones.com/en/index.html) were supported I may seriously stop waiting for godot engine 3.0 and move to atomic

[2017-05-30 23:03] Alan-FGR commented on #1546
No one ever said open source should equal free stuff, there's even that free speech vs free beer analogy, but that of course doesn't change your request, I personally never used dragonbones and upon a first quick look it seems more like a spine alternative to me. Atomic still has some pretty serious neglects on the 2D area, and I doubt something like this would be priority anytime soon, but let's

[2017-06-05 19:22] KuberKode commented on #1331
The first url for me is broken.

I did find this url instead, on github that seems to me to be the content for that url.

https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/How-to-set-up-a-Debug-Development-Build

I also see that you are referencing VS2017 already in there.

[2017-06-05 20:02] JoshEngebretson commented on #1331
Thanks, updated, there is also this Discourse thread, which I see you found :)

https://discourse.atomicgameengine.com/t/improving-atomic-c-project-support/312

[2017-06-06 12:49] shaddockh opened #1548 "TS/JS Debugging broken"
It appears that TS/JS debugging is broken.  You are able to pause and step, but breakpoints don't seem to be triggering correctly.

[2017-06-06 13:04] JoshEngebretson commented on #1548
Hopefully this is our side and not the duktape extension, gulp!

[2017-06-06 13:53] shaddockh commented on #1548
I just did a quick check with the 2D Star example in both JavaScript and TypeScript with source maps and they both worked correctly.  The breakpoints triggered and it was possible to step through.  I'll need to dig in and see why my more complex example is having issues.  The complex example is more of a real world example with lots of events happening and anonymous functions.

[2017-06-07 17:49] MuffinManKen commented on #1461
IMHO, don't worry about videos.  Tutorials and documentation are desperately needed and the time required to make videos will just slow things down.  Some well-written tutorials would give existing You Tubers some material to work with.

[2017-06-07 23:11] Alan-FGR commented on #1461
I agree with @MuffinManKen. I vote for collaboratively writing and reviewing some tutorials asap so people can at least start using the engine, and later we can use them to make the videos if necessary. The problem is the Editor isn't quite ready for prime time yet, and possibly will change considerably, but we could make tutorials on how to use Atomic as a framework. We need a to-do list though.

[2017-06-08 03:03] shaddockh opened #1550 "[Atomic2D] TMX File loader doesn't support tilesets with individual images"
Currently the TMX file loader can load external Tileset files, but only if they contain a single image composing a sprite sheet.  Tiled also support tile sets that are composed of individual images, but the TMX loader can't deal with these.   The loader should be able to identify these two types of tilesets load them correctly.

A tileset consisting of a spritesheet looks like:
[code]

 A tileset

[2017-06-08 03:49] MuffinManKen commented on #1461
Documents explaining how to transition from other popular engines (Unity, Cocos2D, etc) would be nice to have, but I think it would be pretty far down the list in terms of value.

I've been a game developer for a fair while now, and when I look at the "docs" available for Atomic, I'm lost as to where to even start.

[2017-06-08 12:19] Alan-FGR commented on #1461
@MuffinManKen I agree, I was suggesting getting funding for the whole shebang, not just the conversion table which sure isn't priority.
I've been developing games since I couldn't ride in the front seat and since the API is really sensible and frankly, just beautiful, I could pick it up quickly, in a day I was familiar already. With a bit of help from the guys @ Gitter I could also perform things

[2017-06-08 13:06] JoshEngebretson commented on #1461
Quoting @Alan-FGR, "Atomic provides a managed development environment far less limited than any other engine out there, and if setup correctly it allows you to very easily modify the native code (which is clean and very well designed) to add performance critical features" 👍

I agree, and can also see that it is difficult to initially grok how it all hangs together.  This is an area which needs imp

[2017-06-08 14:21] MuffinManKen commented on #1461
@Alan-FGR I guess I just need to clear some time and dive in. :)

You guys don't need to sell me on the features. I started looking into Atomic because it was one of the few engines that ticked pretty much all the boxes on my wishlist.

@JoshEngebretson My initial plan is to use Typescript and C++. The exact balance between them, I won't really know until I dig into the engine more deeply.

Assumi

[2017-06-09 12:44] JoshEngebretson opened #1552 "[JavaScript/TypeScript] Generated properties should use corresponding method docs"
Properties in the tsdoc are currently uncommented, and should provide the same comment description of their corresponding methods: http://docs.atomicgameengine.com/api/classes/atomic.graphics.html

[2017-06-09 12:45] JoshEngebretson commented on #1461
@MuffinManKen The TypeScript documentation is generated from the ambient TypeScript files, which are in themselves pretty solid API reference, for examples check the Script/TypeScript folder after a build.  There is a doc task, which uses typedoc: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build/Scripts/BuildCommon.js#L206

The generated docs have the class signatures, in add

[2017-06-10 14:48] JoshEngebretson commented on #1545
Thanks for the R&D, this is a blocker to switching to D3D11 as default, do you have some time to look into a fix, no big hurry.

One of the things I want to get by switching to D3D11, is shared GPU resources across processed... this is possible under D3D9Ex, though that is gnarly and really we should be on D3D11 for drivers and performance improvements now anyway... D3D9 will be deprecated, that A

[2017-06-10 16:21] darrylryan opened #1555 "Issues surrounding Navmesh serialization and async loading"
I've found several issues trying to work with the navmesh in C# which are semi-related:
1) Atomic doesnt save/load the navmesh in the scene
2) atomic can't async load scenes
3) directly using the urho async load sorta works, but its not useful to solve my navmesh issue because it can't async load the navmesh from the scene file since its never saved into the scene file by atomic.
4) manually loadi

[2017-06-10 16:38] JoshEngebretson opened #1556 "[C#] AbstractFile doesn't inherit Deserializer/Serializer interfaces"
What probably needs to happen is AbstractFile inheriting Serializer/Deserializer interfaces instead of
collapsing those interfaces into itself at binding generation time.

```public partial class File : AObject, AbstractFile```
```public partial interface AbstractFile```
```public partial interface Deserializer```
```public partial interface Serializer```

[2017-06-10 16:43] JoshEngebretson commented on #1555
I thought you had ```2``` working under C#, do you have any specifics on this, perhaps this is a separate issue?

Sub issue ```4``` should be resolved by #1556

[2017-06-10 19:52] #1556 closed

[2017-06-11 21:50] MuffinManKen opened #1563 "Resizing player window with an empty scene spams "Failed to lock index buffer""
Easy repro:
 - Create a new Basic2D project
 - Delete the Star/Spinner
 - Hit Play
 - Resize the window

I encountered this when setting up a pure gui layout and hadn't added any renderable scene objects yet.  Adding a dummy clear sprite works around the issue, but having ~100 log messages per second is a bit inconvenient.

[2017-06-12 02:16] #260 closed

[2017-06-12 23:15] darrylryan opened #1565 "[Windows] Dragging assets into editor blocks Windows Explorer"
Atomic immediately starts converting assets on drop and doesn't return control to Windows Explorer until conversion is complete, hanging the explorer window.

[2017-06-13 14:55] rokups opened #1566 "Implement binding generation for `const char*` type"
Implement binding generation for `const char*` type for js/.net

[2017-06-14 19:38] Alan-FGR commented on #159
Assigning myself. Can't promise anything for soon though.

[2017-06-17 18:02] Alan-FGR commented on #1197
Do you guys plan to have a 2D version of the Ray type? The 2D raycast is more like a 'linecast' in which it takes a start and end position, and not origin, direction and magnitude like the usual representation of a ray. I have a usable code here but it's consistent with the 3D raycasting and inconsistent with the native API (which is consistent with the Box2D API):

Lazily adapted from the 3D phys

[2017-06-17 21:46] JimMarlowe commented on #1544
The code from the resulting PR #1547 breaks my ability to build the C# subsystem.  My system has an existing mono installation that did(does) function properly. The root of the problem is, it does not have a directory at /usr/bin/mono, it instead has an executable (a link to mono-sgen), and now very silently will not include the ability to create new C# projects.
[code]

[2017-06-18 12:37] JoshEngebretson commented on #1544
Ok, so what probably needs to happen is a check for whether a mono directory or file exists?  Maybe we can use ```which``` like is done for macOS immediately above?

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build/Scripts/BuildConfig.js#L48

[2017-06-18 13:01] JoshEngebretson commented on #1197
Hey @Alan, that looks like a good add.  If you put it in a PR, it is something that could be merged to master, thanks! 👍

[2017-06-18 13:07] JoshEngebretson opened #1569 "[C#] Add Color to initial Component field initialization"
The Color type is missing from the initial C# Component initialization.  This means any color fields set in the inspector do not make it over to C#, the relevant code is here: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Script/AtomicNET/AtomicNET/Scene/CSComponentCore.cs#L59

[2017-06-18 13:08] JoshEngebretson commented on #1569
@darrylryan Are you looking into this?

[2017-06-18 14:01] Alan-FGR commented on #1197
@JoshEngebretson I'd be glad to submit a PR, however, I guess there's a bigger issue underlying: the fact that the 3D and 2D physics API isn't consistent, as I said the 2D raycast works as a 'segment/linecast', while the 3D doesn't, that code calculates the start and end point to pass to the engine so it works as a raycast, which is consistent with the 3D physics raycast, however, that is not cons

[2017-06-18 14:14] Alan-FGR commented on #1245
Anybody wants to port the C# code to TS/JS? It's the only thing left... @shaddockh? :P

[2017-06-19 01:47] shaddockh commented on #1245
Sure, I can take a look.  Where is the C# example located?

[2017-06-19 12:48] Alan-FGR commented on #1245
https://gist.github.com/Alan-FGR/bd0b60c5f9aad5edac301508e748b2b9
Since it's a cookbook example I'm not using a component. I've tested here and it's leak-free.
@shaddockh I'll have to comment the code sooner or later so please let me know if you want to wait for the comments before porting... totally forgot about that :P

[2017-06-19 12:49] Alan-FGR commented on #1245
Also, naming is a bit odd, specifically sampleTypes

[2017-06-19 13:17] shaddockh commented on #1245
No need for comments.  That example looks pretty straightforward and should be easy to port to JS/TS.

[2017-06-19 16:06] JoshEngebretson opened #1572 "[C#] Automatic binding support for Vector<String> and other primitive Vector/PODVector"
For example the following is marshaled as a string array in JS/TS:

```const Vector<String>& GetGeometryNames() const { return geometryNames_; }```

We do have Vector<RefCounted> support in C#, however there isn't currently support for mapping Vector<String> or other primitives, which should be a ```string[]```

[2017-06-20 06:28] mattbenic opened #1573 "[C#] Static "get" methods are wrapped as non-static properties"
While the methods themselves are correctly wrapped as static, the shorthand properties for them are non-static. As an example, in AppBase.h:

        static bool GetDebuggerAttached();

Becomes (in CSModuleAtomicApp.cs):

      public bool DebuggerAttached
      {
         get
         {
            return GetDebuggerAttached();
         }
      }

      public static bool GetDebuggerAttached ()

[2017-06-20 12:34] JoshEngebretson commented on #1573
Good catch, this should be an easy one to pick off this morning 🔫

[2017-06-20 18:50] #1573 closed

[2017-06-20 18:57] JoshEngebretson commented on #1573
Fixed https://github.com/AtomicGameEngine/AtomicGameEngine/commit/e0ea1912533d04bddb7b08742b6b873a9d3e7a4e, shouldn't be too bad to cherry pick in ;)

[2017-06-20 19:17] JoshEngebretson commented on #1544
Closed in #1575

[2017-06-20 19:17] #1544 closed

[2017-06-20 20:23] shearer12345 commented on #1544
@JimMarlowe Sorry about breaking your build. Thanks for the fix.

[2017-06-23 06:21] HeadClot commented on #714
Ok, So I checked out trenchbroom 2.

I love it.

[2017-06-26 14:55] JoshEngebretson opened #1579 "Expose basic API/inspector support for clear color"
It is currently necessary to modify the render path to set the clear color:
 https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Resources/CoreData/RenderPaths/Forward.xml#L2

This comes down to setting the clearColor_ and turning useFogColor_ off on the command, probably a viewport setting?

[2017-06-26 18:14] JoshEngebretson opened #1581 "3D UI requires a fix for stencil on OpenGL, this affects text edits"
As per the title, will update with link to source line for follow up issue.  I want to try and avoid adding a general setting to the Graphics subsystem, as this is very specific.

[2017-06-28 22:07] Mustard867 opened #1585 "[Web Player] Failing build for web_player on windows."
OS: Windows 10 Build 16215.rs_prerelease
AtomicGameEngine version: master branch (as of 06/28/2017)

I managed to get the webplayer building a few days ago on Windows. Since then it has been broken by another update. To get it working before, I modified the atomic.root/Build/Scripts/BuildWeb.js file to change the empty win32 case to one that builds like so:

[code]

I then build it using a batch f

[2017-06-28 23:39] JoshEngebretson commented on #1585
Thanks for the report, The web player is currently the only platform without CI, so small build breakage like this does occur.  It was in https://github.com/AtomicGameEngine/AtomicGameEngine/pull/1580 which adds profiler shortcuts, and needs to guard some of those headers to not be included for the ```ATOMIC_PLATFORM_WEB``` platform

[2017-07-05 14:40] JoshEngebretson opened #1587 "[C++/C#] Tab key cycle for feature examples"
The C++/C# feature multi-examples are a basic "smoke" test for core engine features.  It would be good to be able to cycle between the feature examples with the TAB key, for quick testing.

- [ ] C++ Feature Examples Tab Cycle
- [ ] C# Feature Examples Tab Cycle

[2017-07-05 19:12] #1545 closed

[2017-07-05 21:55] JoshEngebretson opened #1589 "[Android/iOS] - Create WebView UI widget which embeds platform Chromium/UIWebView"

[2017-07-05 22:05] JoshEngebretson opened #1590 "Atomic Glow - High quality lightmap baking"
![atomiccornellpointvsarea](https://user-images.githubusercontent.com/376203/27886976-42eee38a-6193-11e7-82d9-3567d41c227b.png)

Atomic Glow is a high quality lightmap baking tool with indirect GI lighting.  It can be used integrated with the Atomic Editor or as a standalone tool

[2017-07-07 18:59] #1423 closed

[2017-07-07 20:25] JimMarlowe opened #1595 "imgui.ini is created at deployed program exit"
imgui.ini is created in the executables directory when a deployed program (linux, in my case) exits. This is unexpected and unwanted.
The contents of this file is:
[code]

[2017-07-08 18:29] Freizagen opened #1596 "Busy Indicator while on script editor"
Blue circle appears when on script editor, After clicking on script editor blue circle appears and sometimes editor flickers, even when switched to other window,  but when script editor is unfocused the blue circle disappear. It doesn't happens with any other software, and CPU consumption is about 0 for this software.

Gif Screen shot
https://postimg.org/image/nukxaqrvl/

[2017-07-08 21:35] JoshEngebretson commented on #1596
The busy blue circle on Windows system cursor and white texture updates are likely related.

I am not able to replicate the issue here on SSD or HDD.  My guess is that it is something in here: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Source/AtomicWebView/WebTexture2D.cpp

A good first test, would be to change to update a solid color.  This would tell whether the renderer pr

[2017-07-10 00:38] Mustard867 opened #1598 "[Windows] Build failure during custom build step"
OS: Windows 10 Pro Insider Preview Build 16237
Source: Latest Master branch as of 7/9/2017

I am getting a build error during the custom build step of Atomic using the command line ".\Build_AtomicEditor.bat --vs2017 --with-android".

The custom build step prints this:

[code]

Looks like there are lint warnings/errors, but I'm not sure if that is what is causing the problems. And at the end of the

[2017-07-10 10:54] JoshEngebretson commented on #1598
I built a clean pull of master on Windows 10 with VS 2017, both  the previous version and tested with update to v15.0.26430.15

@Mustard867 Did you try to build more than once?  You can also add the ```--noclean``` option in testing

Can anyone else replicate this?

[2017-07-11 00:57] Mustard867 commented on #1598
Yeah, that's the same Visual Studio as I have. I tried building it again with --noclean with the same result. This could be an Insider Preview build issue. Microsoft has a habit of occasionally throwing in obscure issues with each release. If anyone else lives dangerously like I do and is also on the Windows Insider fast track, let me know if you can/can't build it.

[2017-07-11 14:32] JoshEngebretson opened #1600 "[Build] Ensure build works when path contains a space on all host platforms"
The build has issues when the repo's local path contains a space, this needs to be fixed.

[2017-07-12 12:36] Alan-FGR opened #1601 "Billboards to-do and discussion"
# Aligned
- [ ] create discrete chunks of vbos (static)
- [ ] pass x, y, z, yangle to the shader
- [ ] calculate vertices positions in the vertex shader
- [ ] calculate uv tile in the vertex shader
- [ ] zero vbo vertices of billboards that shouldn't be displayed
- [ ] create and dispose vbos
- [ ] cull vbos using aabbs
- [ ] use a 'faderange' or 'fadestart' shader constant in the vertex shader an

[2017-07-12 12:57] darrylryan opened #1602 "[Windows OpenGL] Windows OpenGL regression (DX11 default)"
Setting DX11 to default has broken OpenGL build switch - you get DX11 whether you like it or not.

[2017-07-12 13:44] #1602 closed

[2017-07-12 13:44] JoshEngebretson commented on #1602
@darrylryan Can you verify that this works for you?  Thanks.

[2017-07-15 13:58] Clockwork-Rat opened #1607 "FBX Import Scaling Issues"
When importing .fbx models, they appear to "grow" being about 300 times as large as when I exported them from blender using meters as the base unit. I'm not sure whether it is Atomic or Blender causing the issues.

[2017-07-15 17:38] Alan-FGR commented on #1607
Hi.
I'm not sure whether FBXs even have units (like m/cm), but in the Blender exporter you can select a unit multiplier. I think it's possible that when you select meters in the exporter it just converts to the default unit the FBX uses for scaling, which isn't meters I guess.
The Atomic team is working to improve FBX support and at the moment it's a bit rough around the edges.

[2017-07-15 23:09] gsnook opened #1608 "[Editor, Crash] If the Atomic Editor is viewing a scene made in Tiled, and the user edits the file in Tiled, Atomic will crash"
Windows 10
Atomic Editor Git: 0eeef4bf3997d19bebc9426b7690b0342b4b9ba1
Tiled Version 1.0.2 (Windows x64 build)

Repro steps:
In Atomic, open the 2D Physics Platformer example
Open the scene viewer to view the level design
In Tiled, open the same level design file currently open in Atomic
Make an edit to the level in Tiled and save.

Observed:
Atomic will crash immediately when the updated level de

[2017-07-16 00:46] Clockwork-Rat commented on #1607
Thanks, @Alan-FGR , I'll try that!

[2017-07-18 21:53] JimMarlowe opened #1609 "[Editor] Draggin and Droppen is b0rken"
In the Editor, dragging and dropping has ceased to function.  By using a binary build search, the breaking commit seems to be ``2cb4ac0 3D UI Feature``  The failure mechanism is the UIDragDrop::HandleMouseDown() is now occurring **before** the HierarchyFrame.handleWidgetEvent()

The HierarchyFrame.handleWidgetEvent() assigns the drag object to the heirlist.
UIDragDrop::HandleMouseDown() looks up t

[2017-07-19 16:25] JoshEngebretson commented on #1609
Thanks for the report and helping track this down.  I'll have a look this morning.

[2017-07-19 23:03] JoshEngebretson commented on #1609
#1609 should address the issue which was introduced when refactoring for multiple "root" UIViews.

[2017-07-19 23:50] #1609 closed

[2017-07-22 18:13] zaywolfe opened #1612 "Failing to build on Linux"
While running:
`./Build_AtomicEditor.sh --with-android --with-web --nonet --with-docs`

I end up with this error:
[code]
I've been trying to find where I can get this header file but I'm at a complete loss... I'm running Elementary OS based on Ubuntu 16.04

[2017-07-23 22:40] JimMarlowe commented on #1612
That header file is (should be) included in the repo. Did you get the repo by zip file (which won't work) or by ` git clone --recursive https://github.com/AtomicGameEngine/AtomicGameEngine` (which should work as per https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Building-Atomic-from-Source#linux ).
The error looks like it may be happening in the `--with-web` phase. I can not build this

[2017-07-26 18:52] darrylryan commented on #1598
I'm experiencing this same issue now... I've downgraded every component (code, VS, compiler) to earlier versions and still getting this weird problem.
I'm not on the insider fast track though, although I am on the slow track.

The Jake error does look similar to this though reported on linux: https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1612

I didn't have any problems until I clear

[2017-07-26 19:32] JoshEngebretson commented on #1598
@darrylryan The similarity is the CMake message of process exited with error, that Linux issue appears to be an issue with compiling... whereas this appears to be an issue with AtomicTool generating bindings.  You are on VS2017 and you have tried to build a clean master, right?  Do both the ```Build_AtomicEditor.bat``` and ```CMake_VS2017.bat``` result in this error?

[2017-07-26 20:16] JoshEngebretson commented on #1598
You can also try and invoke the bind command directly, from your local repo:

```C:\Dev\atomic\AtomicGameEngine>Artifacts\Build\AtomicTool\AtomicTool.exe bind C:\Dev\atomic\AtomicGameEngine\ Script\Packages\Atomic```

[2017-07-26 21:33] #1595 closed

[2017-07-28 13:19] darrylryan commented on #1598
@JoshEngebretson I've tried building from the Build_AtomicEditor.bat, CMake_VS2017.bat, and from CMake gui, it still results in the same problem. I've done a clean checkout of the latest master, and also tried various points in time from the past, it still does it. I've tried completely reinstalling VS2017, and then again rolling back to the first 15.0 release of VS2017 without any updates (and ch

[2017-07-28 15:12] JoshEngebretson commented on #1598
From the VS solution, you should be able to debug into AtomicTool with the bind command and working directory set... and get a callstack.

[2017-07-28 16:42] darrylryan commented on #1598
![image](https://user-images.githubusercontent.com/3797848/28727200-e5bf061e-73bb-11e7-8513-8d08abd06240.png)

@JoshEngebretson It just seems to keep crashing in the KernelBase.dll
I guess I will try switching Windows to the fast track, maybe if it is a MS issue its fixed by now.

[2017-07-28 16:45] JoshEngebretson commented on #1598
I would strongly suggest using stable Windows for development.

[2017-07-28 17:19] darrylryan commented on #1598
I've been trying to get out of the insider builds for ages, but it has a life of its own. It won't let me go backwards or forwards right now.

[2017-07-29 18:10] darrylryan commented on #1598
....and now it builds.

2 days of fighting with git rollbacks, reinstalling visual studio, nuking my VS settings etc. and the solution turns out to be I needed a new Windows kernel.
Since I couldn't go backwards I had to go forwards to the preview release of Windows 10, and now it all just works again.

[2017-07-29 18:16] JoshEngebretson commented on #1598
Thanks for the report, filing that under good news 🍾

[2017-08-06 19:45] guzzard opened #1618 "Building on Linux fails with AtomicNET C# enabled"
[code]

Builds and runs fine with --nonet flag.

[2017-08-06 19:59] guzzard opened #1619 "[Linux] locale issue still present"
I don't think #1466 solved the locale issues in #710 fully. This is what opening the toon town scen for the second time looks like with Swedish locale.

![screenshot-window-2017-08-06-215244](https://user-images.githubusercontent.com/9007314/29006498-a26a5b6a-7af1-11e7-82dc-c51643ecad47.png)

To reproduce:
1. start editor with Swedish locale set
2. open scene -> looks OK
3. close scene
4. reopen s

[2017-08-06 20:12] guzzard commented on #908
Internal editor seems to work fine now on Linux. No crashing/exceptions, and the text renders correctly without artifacts.

[2017-08-06 20:12] #908 closed

[2017-08-07 16:57] JoshEngebretson commented on #1618
Have you followed this guide:

https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Detailed-instructions-for-building-on-Linux

Specifically, installing the ```referenceassemblies-pcl``` dependency?

[2017-08-07 18:48] darrylryan commented on #1354
@JoshEngebretson  I've had a go trying to get the web view working with C#

So far I I've managed to figure out this much:

I went into /Script/AtomicNET/AtomicNETProject.json and added this to get the bindings into C#:
"$ATOMIC_ROOT$/Artifacts/Build/Source/Generated/CSharp/Packages/AtomicPlayer/Managed/"

Then I went into "/Script/AtomicNET/AtomicNET/Core/AtomicNET.cs" and added this so the modul

[2017-08-07 18:50] guzzard commented on #1618
Hi @JoshEngebretson,

Yes, I have that package installed. I'm on Arch Linux with these packages installed:

mono, 5.0.0.100-2
mono-addins, 1.1-1
mono-tools, 4.2-1
monodevelop, 6.2.0.1778-2
referenceassemblies-pcl, 4.6-1

Here is the full log. Perhaps it can give some clue about what is wrong. Perhaps it's because I have mono 5 and Atomic is expecting an older version?

[code]

[2017-08-07 19:45] BrainBlasted commented on #1618
Getting this as well, first found when trying to compile from the AUR. Compiling seperately now.

[2017-08-07 20:02] guzzard commented on #1618
@BrainBlasted are you able to compile successfully by cloning and compiling manually? It's not working for me. Same error with both AUR package and manual compiling.

[2017-08-07 20:05] BrainBlasted commented on #1618
Just tested, and no, it still failed.

[2017-08-08 18:39] Alan-FGR commented on #1601
Using the camera quat for the orientations was a dumb idea... I've fixed that by using a mat3x3 representing the rotation of the camera->imposter vector, it's calculated for each vertex (from the node position passed in the vbo) so it isn't as efficient as just multiplying by the camera rot quat, but at least it works properly now.

In terms of performance I still couldn't reach the limits even on

[2017-08-08 23:27] darrylryan opened #1620 "[UI] Turbobadger wishlist (in no particular order)"
- UIScrollContainer doesn't seem to work properly from code (@JimMarlowe gave me an example in TB layout language, I tried to do the same in code, it broke. Possibly due to different defaults and differences in the layout enums?)

- Currently can't set a cursor image

- Window resizing currently only works in BOTH dimensions at once if enabled. Sometimes we want to be able to resize a window in X

[2017-08-09 15:56] Alan-FGR commented on #1601
I'm facing two problems, one is major and beyond my control, another will probably have to be workarounded:

1 - Using the draw distance culling to toggle the meshes is too slow... I thought it would be possible to use this but it isn't, having many objects, even culled out hogs the CPU too much, possibly because the core checks the distance for each one of them individually as opposed to some spa

[2017-08-09 16:11] Alan-FGR commented on #1601
Also, is there any example on how to procedurally create texture arrays?

[2017-08-09 17:41] Alan-FGR commented on #1601
I think the problem with distance testing could be solved by using a separated frustum culling to cull the "imposterized" objects, thus taking total advantage of spatial optimization.

[2017-08-09 17:52] nesrak1 opened #1621 "Visual studio already installed but still asking anyway"
I have Visual Studio 2015 installed along with Xamarin and after building the editor, trying to open the content examples I got this:
![atomiceditor_2017-08-09_12-47-58](https://user-images.githubusercontent.com/12544505/29135819-0147dbec-7d01-11e7-8217-4749d990016d.png)
Thinking it was just something wrong with the source, I installed build3 and tried all of the csharp projects and creating my ow

[2017-08-09 18:14] JoshEngebretson commented on #1621
The detection code is here: https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Source/ToolCore/NETTools/NETProjectSystem.cpp#L519

You can place a breakpoint and see where things are going sideways.

[2017-08-09 18:44] nesrak1 commented on #1621
I changed the environment variable and added a \ to the end and it seems to have worked.

[2017-08-09 18:44] #1621 closed

[2017-08-09 19:10] JoshEngebretson commented on #1621
Hey, that's great, would you might expanding on this a bit?  It would be good to fix it for others and this is the first time it has been reported.

[2017-08-09 19:39] nesrak1 commented on #1621
![image](https://user-images.githubusercontent.com/12544505/29140509-53a00ee6-7d10-11e7-95b0-e68ceb7f63bd.png)+R, type `sysdm.cpl`. Advanced tab, Environment Variables. Find VS140COMNTOOLS and click Edit. Add a \ after Tools. Click OK three times and restart.

[2017-08-10 18:56] JimMarlowe commented on #1620
To "condition" UILayouts to match the layout file implementations,  use this, right after constructing the UILayout:
 ```mylayout.SetLayoutConfig("XPCPC");  // set defaults same as for layout file.```

[2017-08-13 22:28] Alan-FGR commented on #1601
After failing miserably to programmatically create the material, technique, texture array, shader, and link it all together, I'm just going to write xml/image files and read them in the engine... that will also serve for 'caching' so you only have to do it once and subsequently read from disk if it's there... docs/sscce on how to programmatically do that would be appreciated nevertheless... maybe

[2017-08-14 20:43] Alan-FGR commented on #1601
It's almost ready now: https://github.com/Alan-FGR/FileSharing/blob/master/Debug.7z

[2017-08-14 21:05] Alan-FGR commented on #1601
Do other collaborators even get notifications for **these**?

[2017-08-15 15:11] Alan-FGR commented on #1601
https://github.com/Alan-FGR/FileSharing/blob/master/Debug2.7z

[2017-08-15 17:23] Alan-FGR commented on #1601
![_zou](https://user-images.githubusercontent.com/8399299/29325304-867b21c8-81bd-11e7-92ea-155df49e3fcd.gif)
![_mas](https://user-images.githubusercontent.com/8399299/29325331-9b635614-81bd-11e7-951c-90865d5c1951.gif)

[2017-08-16 15:15] darrylryan opened #1626 "[UI] Scroller doesn't work by code"
The scroll container only seems to work if using a tb.txt to do the layout and controls don't show up if you add them by C#.

[2017-08-16 18:56] JimMarlowe commented on #1626
@darrylryan could you provide the code (a snippet?) you were using to create the scroll container?

[2017-08-16 19:12] darrylryan commented on #1626
`        UIWindow inventory = new UIWindow();
        inventory.LayoutParams = new UILayoutParams
        {
            Width = 370,
            Height = 400
        };

        UILayout insideWindowLayout = new UILayout();
        insideWindowLayout.SetLayoutConfig("XPCPC");
        insideWindowLayout.LayoutDistributionPosition = UI_LAYOUT_DISTRIBUTION_POSITION.UI_LAYOUT_DISTRIBUTION_POSITION_LEF

[2017-08-17 00:13] JimMarlowe commented on #1626
I found the root cause of the issue, which is the UIScrollContainer has a component widget that you add children to, instead of the main widget. This is a common behavior with TB for composite widgets, though is poorly (as in not at all) documented :disappointed:
The code below appear to be a good match for a layout file version. The code was also optimized to remove layout sizing that wasn't need

[2017-08-17 12:31] darrylryan commented on #1626
@JimMarlowe You are a genius! THANKYOU 💃 🕺

I wonder what the point in being able to add children to the main widget is though? Maybe our wrapper should redirect the addchild to the content widget since adding stuff to the composite widget seems neither functional nor useful.

[2017-08-17 13:52] JimMarlowe commented on #1626
I agree that the AddChild on TB/UIScrollContainer is non sequitor, fixing this certainly falls into the usability department. I'd have liked to fix TBScrollContainer in TB land, but AddChild is not virtual there. In Atomic land, AddChild is virtual, so I can fix UIScrollContainer and add a note about this feature.  The work-around code above will continue to work after the fix is made.

[2017-08-17 17:34] darrylryan opened #1627 "[UI] Can't set cursor image"
The Urho UI provides a method to set the cursor image however Turbobadger doesn't offer this so this functionality went away with SystemUI.

[2017-08-17 17:34] #1626 closed

[2017-08-24 01:31] Alan-FGR opened #1632 "[AtomicNET] CreateComponent returns a new (allocated) bogus component."
Consider the following code based on an empty C# project:
[code]
It's obvious that a and b should be the same object since there are no other DebugRenderers, but they aren't. CreateComponent is creating and returning a different component than the one that's being actually added to the scene, so two DebugRenderers are created there. This could represent a memory leak since the object returned is i

[2017-08-24 01:39] Alan-FGR opened #1633 "[Building] How to build without the Submodules, specifically CEF and the Examples?"
I've asked this numerous times on Gitter, but never was able to find a solution and always surrendered to the tyranny of the pesky submodules 🤣... but it's really getting annoying. After cloning non-recursively, if you run the shell/batch scripts they start downloading the massive binaries... if you try to cmake it same thing happens, and I don't think people should be doing that directly because

[2017-08-24 01:50] JoshEngebretson commented on #1632
This is not a bug, the scene XML has a DebugRenderer.  You are creating a new DebugRenderer and the get call returns the first on the node.

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Data/AtomicEditor/ProjectTemplates/EmptyProject/CSharp/Resources/Scenes/Scene.scene#L16

[2017-08-24 01:50] #1632 closed

[2017-08-24 02:02] Alan-FGR commented on #1632
Lol, you're absolutely right... it was my mistake, sorry. I'm pretty sure I've checked the scene in the editor for DebugRenderers, but I guess I haven't selected the scene in the hierarchy or something... whatever was the case: boy was it dumb! 😆

[2017-08-24 02:16] JoshEngebretson commented on #1632
A C# version of GetOrCreateComponent would be handy when in doubt, it would go around here:

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/982da971fdd27652eb682883b99e4f4c9313cf7d/Script/AtomicNET/AtomicNET/Scene/Node.cs#L148

[2017-08-24 13:40] Alan-FGR opened #1635 "[CMake/Profiler] Qt libraries are not copied to the profiler output folder"
I just cmaked Atomic here with the profiler and the resulting VS2017 project isn't configured to copy the dlls to the profiler output folder, so you can't run the binary directly after building it, you have to either copy or configure that manually. @rokups ;)

[2017-08-24 13:49] Alan-FGR commented on #1635
Just found out that more stuff is broken (icons, etc.), profiler works but something's wrong... closing this until further investigation

[2017-08-24 13:49] #1635 closed

[2017-08-24 17:25] Alan-FGR opened #1636 "[Atomic2D] Support navigation and 2D physics on the same orientation plane"
Navigation works on the XZ plane, and 2D physics works on the XY plane, thus making them fully unusable together, what could be useful for planar 2D top-down games like shooters, racers or RTSs where you don't need to use the 3D physics.

[2017-08-24 19:05] Alan-FGR commented on #1627
I'm also interested in this... I don't know how the UIs do that, but SDL offers world class xplat cursor image support, including hardware cursors, don't know whether it's available in scripting though.

[2017-08-25 07:10] rokups commented on #1635
Build system is supposed to [invoke all dependency copying](https://github.com/AtomicGameEngine/AtomicGameEngine/blob/84b82ef5cec4dfeabdc7f3d2983a5684748dafce/Build/CMake/Modules/AtomicCommon.cmake#L236) to `Artifacts/Build/Profiler/` when built on windows. Icons would be broken when qt svg plugin is missing, but dll copying should take care of that.

[2017-08-25 11:51] Alan-FGR commented on #1635
@rokups yep, copying the Qt5Svgd.dll there makes it work properly (apparently). However, it won't copy the dlls to the output directory upon building. I didn't do anything different, just cloned, cmaked it pointing the Qt stuff to the dlls in my system, opened the VS2017 project and built it. Feel free to confirm, but it doesn't work outta the box for me :P

[2017-08-25 12:28] Alan-FGR opened #1638 "[API] Math Improvements"
# TO-DO
- [ ] Clamp Magnitude
- [ ] Use a better approach for Vector Operations
- [ ] Expose/port the entire Math API to Scripting
- [ ] Easy Eulerian angles rotation API
- [ ] 2D Direction Setter

# Discussion and Details

## Clamp Magnitude
A way to clamp the magnitude of a vector is generally useful, especially when dealing with non normalized input, here's my quick implementation in C# (extens

[2017-08-25 13:44] rokups commented on #1633
If you clone my [optional submodules PR branch](https://github.com/rokups/AtomicGameEngine/tree/feature/optional-submodules) you can run cmake like this:

    cmake -DATOMIC_CPLUSPLUS_EXAMPLES=0 -DATOMIC_WEBVIEW=0 /path/to/cloned/repo

That will not clone submodules and build everything except examples and anything that depends on cef webview (like editor).

[2017-08-25 15:01] Alan-FGR commented on #1257
The wiki sucks terribly, so I'm uploading images here :P
![17-08-25-26](https://user-images.githubusercontent.com/8399299/29719004-f6b8201a-898a-11e7-9c90-2130cc0b29cf.png)
![17-08-25-28](https://user-images.githubusercontent.com/8399299/29719046-13e07656-898b-11e7-85ed-e945683feb9f.png)
![17-08-25-30](https://user-images.githubusercontent.com/8399299/29719068-2636ab86-898b-11e7-9c85-deae76d925db.

[2017-08-25 15:11] JoshEngebretson commented on #1257
@Alan-FGR If you are going to work on the wiki, please add images properly,  GitHub issues are for issues, not to embed images, ask questions, etc,

[2017-08-25 15:11] Alan-FGR commented on #1257
How do I do that? The wiki doesn't allow you to upload images afaik

[2017-08-25 15:12] JoshEngebretson commented on #1257
You can clone the wiki, like any repository and add images very easily.  There are numerous examples of it.

https://github.com/AtomicGameEngine/AtomicGameEngine.wiki.git

[2017-08-25 15:13] JoshEngebretson commented on #1257
Also, https://help.github.com/articles/adding-images-to-wikis/

[2017-08-25 15:15] Alan-FGR commented on #1257
OK, will do. Lemme temporarily assign this to myself so I don't lose track of it

[2017-08-25 16:09] Alan-FGR opened #1639 "[AtomicNET] Disabling native code debugging in VS2017 causes a crash"
I just found out something very weird when doing the steps I describe in this wiki page:
https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/C%23-project-using-the-engine-as-a-library
If you don't enable this:
![image](https://user-images.githubusercontent.com/8399299/29722266-7ccc5832-8996-11e7-9c13-75cb483a7ab9.png)
The application crashes on startup... the same happens when you create it

[2017-08-25 18:36] mhfreund opened #1640 "[Atomic Editor] Unusuable, sometimes crashing"
The Editor is lagging slow and thus unusuable.
Sometimes even crashes occur.
The Problem may be here: (taken from the CEF log, Messages repeated all over again):

My machine is a Lenovo X230, INTEL HD 4000, Win7, newest drivers

A solution may be:
(Taken from  https://github.com/cefsharp/CefSharp/issues/1634)

Simply workaround is to use the --disable-gpu command line flag
…
//settings.CefCommandL

[2017-08-25 22:21] Alan-FGR opened #1641 "[AtomicNET] Provide a better way to implement the 'magic' callbacks"
CSComponent has these magic callbacks like `Start()` and `Update(float dt)` that you gotta blindly implement, the problem is, if for some reason the signature doesn't match, you have a situation that's very hard to debug, say you have `Update()`, it won't work and it may not be obvious why.
In my opinion we need to either provide overridable methods, or maybe just let the user subscribe to the eve

[2017-08-26 15:04] Alan-FGR opened #1642 "[AtomicNET] Errors only traceable to Application.cs:L73"
When I try to debug an error in which I'm accessing a null reference somewhere in a CSComponent, the only stack trace I get points only to that line with no other useful debug information whatsoever. I'm using VS2017.

[2017-08-26 15:08] Alan-FGR opened #1643 "[AtomicNET] Update() is called along with Start() on CSComponent creation"
You can't have a initialization method in a CSComponent that initializes variables that you access in Update() because it's called once at the constructor before you have the chance to setup anything, consider this code:
`MyNode.CreateComponent<MyComponent>().InitVariables(someData);`
this code which is very handy in a number of cases simply isn't possible.

[2017-08-26 16:10] Alan-FGR commented on #1642
Closing this until further investigation

[2017-08-26 16:35] Alan-FGR commented on #1642
When you generate the project in the Editor, it works, but then you can irreversibly break it again, here's how:
Create a new C# project, open the solution and in Program.cs, add say this:
[code]
Build and debug, and you'll get an error at the correct line.
Note that the Project.cs is in a weird place relative to the solution and csprojs, remove it from the project and add a new Project.cs using t

[2017-08-26 17:42] Alan-FGR commented on #1642
This is caused by the try...catch block in Application.cs, which render all your game code undebuggable; getting rid of that block solves the problem, I strongly recommend making that hack permanent in the lack of a better solution.

[2017-08-26 17:53] Alan-FGR commented on #1642
Even without that though, in complex scenarios you get undebuggable errors, especially when you're doing stuff in the functions called by reflection like Update().

[2017-08-26 17:56] Alan-FGR commented on #1642
![image](https://user-images.githubusercontent.com/8399299/29743784-b4b30ae2-8a6e-11e7-85ea-bc0cd1473892.png)
**Make Atomic Debuggable Again!** :trollface:

[2017-08-26 18:06] Alan-FGR commented on #1642
Say this is totally undebuggable; stack traces only points you to reflection stuff in Scene.cs:
[code]

[2017-08-26 18:33] JoshEngebretson commented on #1642
@Alan-FGR Good reporting, I wonder if this may have something to do with the generated solution.  I wouldn't be against removing the try/catch and PR's are accepted 🐫

@mattbenic I know you guys use an external solution, though have you witnessed similar issues with debugging?

[2017-08-26 18:39] Alan-FGR commented on #1642
@JoshEngebretson I honestly don't know what would be the best approach for this, but the ability to easily debug the script in my opinion is extremely valuable; I'm workarounding that by manually subscribing to events, for example:
[code]

[2017-08-26 19:48] Alan-FGR commented on #1642
In the mean time, I made a simple class that people could use instead of CSComponent:
[code]
I think there's a way to get the stack trace of the reflected stuff and somehow send it to the VS debugger stack trace viewer so it's navigable and such... in the mean time the class above will make errors fully navigable and lintable, except for Start() and Stop() which will print the call stack without n

[2017-08-27 04:02] Alan-FGR opened #1644 "[AtomicNET] Game fixed updating pauses when creating nodes"
I've found a pretty serious showstopping bug; consider the following SSCCE:
[code]
When you click the mouse a new node will be created each frame, however, note how the object 'freezes' on screen, i.e.: while you're holding the mouse, gravity won't affect the object. I've tried doing other stuff when the mouse is pressed to see if the same would happen, but it didn't.
PS: I found this issue in a 2

[2017-08-27 13:48] Alan-FGR commented on #1644
@darrylryan suggested that the Input could be the culprit, but that's not true, here you go:
[code]
just sit back and watch the world burn :trollface:

[2017-08-30 05:40] mattbenic commented on #1642
@JoshEngebretson I can't remember a case offhand, but its quite possible. I know one of our devs had issues debugging into native code recently, but that's about it. I haven't had to debug anything too hectic in the scripts since we switched to 2017 (and some of our devs are still on 2015 because of a signin issue with 2017)

I think the common event "magic" is nice to have from an ease of use poi

[2017-08-30 12:52] Alan-FGR commented on #1644
Any input on this? When you do the same as above from C++, it works as it's supposed to:
[code]
Somehow when you created nodes in C#, it blocks the subsequent physics stepping :(... this is a pretty serious showstopping bug 😖

[2017-08-30 12:55] Alan-FGR commented on #1642
@mattbenic are you guys using Atomic for production? Have you come across https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1644 by any chance? I was planning to use Atomic for a 2D game but that bug won't lemme :(

[2017-08-30 12:58] mattbenic commented on #1642
@Alan-FGR We are, I'll answer in that bug so we can keep comms about it in one place :)

[2017-08-30 13:22] mattbenic commented on #1644
@Alan-FGR we haven't run into this. I think it may be because of the specific nature of the products we build. We don't create any new nodes after our initial load process, We also don't use input at all outside of debug, but then you've determined that's not really a factor.

[2017-09-01 16:07] hickscorp commented on #1612
Same error here with a fresh cloned repo.

[2017-09-02 02:55] JimMarlowe commented on #1612
PR #1507 removed some include_directories in Source/AtomicJS/CMakeLists.txt this could be the source if these compilation problems for --with-web builds (only).

[2017-09-05 14:21] victorbstan opened #1645 "If path to source has directory with spaces, the .bat script / build script breaks"
I get the following error when trying to build

[code]

[2017-09-05 16:50] Alan-FGR commented on #1645
Hi. Thank you for your report. As a temporary fix you could just remove the spaces from your path, this is a known problem:
https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1600

[2017-09-05 16:50] #1645 closed

[2017-09-05 17:38] victorbstan commented on #1645
Thanks, I have and built successfully :)

[2017-09-06 19:25] ShalokShalom opened #1646 "F#"
Since C# is supported, is F# also possible?

[2017-09-06 19:32] NathanWarden commented on #1646
Unless I'm mistaken, it won't be out of the box. However, they have a new binding API which makes essentially every multi-threaded language possible to be used with Godot, but only C# will be officially supported.

For instance, someone has already made a python 3 version of Godot:
https://godotengine.org/article/beta-release-python-support

[2017-09-06 21:12] ShalokShalom commented on #1646
How is Godot related to Atomic?

I ask because both, C# and F# compile into CIL, so i thought the API use that one.

[2017-09-06 21:20] NathanWarden commented on #1646
Oops, haha, most of my notifications come for that and didn't notice I was commenting on Atomic :)

[2017-09-06 22:20] ShalokShalom commented on #1646
:smile:

[2017-09-06 22:20] ShalokShalom commented on #1646
How is it about the API in Godot?

CIL or C# directly?

[2017-09-06 22:25] NathanWarden commented on #1646
Adding it's still a work in progress as there isn't even an alpha build with C# support yet, but I'm almost 100% certain it'll be CIL.

[2017-09-06 22:28] NathanWarden commented on #1646
To be more clear, I did my own build of Godot a few weeks back and had to make builds of my C# project for it to execute anything, so definitely CIL.

Does F# work with C# as long as it's CIL? I've never actually written any F# but have been curious about it.

[2017-09-06 22:38] ShalokShalom commented on #1646
F# compiles into CIL, like C# does.

[2017-09-07 09:21] rokups commented on #1643
Does it work the same way in c++?

Why not add a member variable `bool isInitialized_;`?

[2017-09-07 12:17] Alan-FGR commented on #1643
@rokups hmm, well, I haven't even considered the possibility of that being designed to behave like such... but you're right, maybe it is indeed just how it works, although I really doubt it, and even if that's the case, in my opinion Start() shouldn't be called from within the constructor and maybe Update() also should be called on the next tick after the Start(), I'm not sure about the implicatio

[2017-09-07 16:23] ShalokShalom opened #1649 "Build issue"
Did i forget something?
[code]

[2017-09-10 11:51] crack81 opened #1651 "Black Screen"
When I  run Basic 3D example into AtomEditor works well, but when I build it and I try to execute it. The screen is all black.

Operating System:  Xubuntu 16.04
Language: C#

The same proccess using javascript works fine.

[2017-09-12 18:16] JimMarlowe opened #1653 "Game testing, Functional test"
Currently, the functional testing of a game is done manually. The goal of this issue is to take a game project from source code to playing it, in an automated fashion. It seems like a simple thing, but it can tell you if all is good or things have changed, perhaps for the worse.

How to do this?

The entire processing needs to be driven by a cross platform script of some sort, so it can be done by

[2017-09-17 15:38] ghost opened #1654 "Atomic ID?"
I thought this is free software after all.
So, why is it necessary to force a user to sign up for an Atomic ID for just being able to work with the editor?
This should be optional.

[2017-09-17 16:36] JimMarlowe commented on #1654
Only the binary Atomic distributions require registration. If you build the system from source, there is no registration involved.

[2017-09-17 17:16] V1p3 commented on #1654
Thank you.

I wonder why this requirement is present in the binary distribution then.

[2017-09-17 19:07] JimMarlowe commented on #1654
I recall it had to do with the licenses/certifications that had to be done on the binaries in order to make them install properly, or at least without warnings.

[2017-09-17 23:02] JoshEngebretson commented on #1654
The provided binaries are quite out of date and it is best to build from source now.  On Windows, the EV Code signing on the binary installer was quite expensive at $449 for one year.  Without this code signing, IE/Chrome/Firefox wouldn't keep the downloaded file around and/or raise scary warnings about installing the Atomic Editor w/ platform player binaries.  The certificate is expiring soon and

[2017-09-17 23:02] #1654 closed

[2017-09-18 19:35] Paruun opened #1655 "Building from source in windows - missing atomic.sln"
As the title suggests I'm trying to build the engine from source. I'm getting an error telling me that the Atomic.sln is missing. It's not in the source and I can't see anywhere where it would be created. Any help appreciated.

C:\atomic>node ./Build/Scripts/Bootstrap.js buildeditor --vs2017 --opengl --with-android
Building Atomic Editor, this process will take a few minutes
OpenGL build selected.

[2017-09-18 19:40] JoshEngebretson commented on #1655
Use ```Atomic_BuildEditor.bat``` as per the instructions:
 https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Building-Atomic-from-Source#windows

You can see the contents of the batch file here, which uses a local node + node_modules... you are using system node.

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build_AtomicEditor.bat

[2017-09-18 21:32] Paruun commented on #1655
I used a different node as the batch file didn't work, petty much the same error. Here is the output of the batch file:

C:\atomic>build_atomiceditor.bat --vs2017 --opengl --with-android

Building Atomic Editor, this process will take a few minutes
OpenGL build selected.
rm -rf C:\atomic/Artifacts/AtomicEditor/
rm -rf C:\atomic/Artifacts/AtomicNET/
rm -rf C:\atomic/Artifacts/Build/Windows/
rm -rf

[2017-09-18 21:36] JoshEngebretson commented on #1655
I am guessing cmake isn't on your path:

```The system cannot find the path specified.```

[2017-09-18 21:40] Paruun commented on #1655
It's in my path, I can access it from the source directory:

C:\atomic>cmake
Usage

  cmake [options] <path-to-source>
  cmake [options] <path-to-existing-build>

Specify a source directory to (re-)generate a build system for it in the
current working directory.  Specify an existing build directory to
re-generate its build system.

Run 'cmake --help' for more information.

C:\atomic>

[2017-09-18 21:46] JoshEngebretson commented on #1655
On VS2017, the build uses the CMake installed by VS2017 explicitly:

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build/Scripts/Windows/SetupVSEnvironment.bat#L12

This should probably be configurable and/or check for one on path to override it.  There should also be a better error message.

[2017-09-18 22:24] Paruun commented on #1655
Ok so reading through the JS files I came up with a 'quick fix':

1) Run the following to generate the .sln file
cmake /C /Build/Scripts/Windows/GenerateVSSolution.bat VS2017 ./ ./ -DATOMIC_DEV_BUILD=1 -DATOMIC_OPENGL=ON -DATOMIC_D3D11=OFF
2) Open the solution file in Visual Studio and build the solution.

That gave me a working EXE

[2017-09-18 22:35] JoshEngebretson commented on #1655
You could also change this line to just ```cmake```

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/master/Build/Scripts/Windows/SetupVSEnvironment.bat#L12

This should use the cmake on the path, make the batch file work as expected, and also make the cmake bat file work with all the supported command line flags: https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/How-to-set-up-a-

[2017-09-22 14:14] ShalokShalom commented on #1646
Its actually working, checked with the devs.

[2017-09-22 14:14] #1646 closed

[2017-10-12 11:59] mattbenic commented on #1653
This needs breaking up into smaller tasks.

[2017-10-12 12:08] mattbenic commented on #1649
Please give more details on what led to this including OS details, what project you're trying to build, etc.

[2017-10-12 12:24] mattbenic commented on #1641
My guess is that the reason for not just having overrideable methods is that there may be large numbers of CSComponents and having them all call empty Updates (and all other supported methods) would be wasteful. I am actually a fan of the automatically available common methods, rather than requiring explicit event registration, but that may be my Unity legacy :)

I do agree that it's problematic t

[2017-10-12 12:28] mattbenic commented on #1640
@mhfreund have you been able to confirm this CEF switch would solve the problem? If so adding an option to the preferences file to be found in C:/Users/<username>/AppData/Roaming/AtomicEditor/Preferences wouldn't be a difficult change.

[2017-10-12 12:30] mattbenic commented on #1639
I haven't seen this. I debug natively fairly often without crashes. Can you confirm it's still an issue?

[2017-10-12 12:32] mattbenic commented on #1638
@Alan-FGR is this still in progress?

[2017-10-12 12:37] mattbenic commented on #1636
I haven't touched navigation at all. Is it implemented in a third party lib, or as part of Atomic core? If the latter, is it something inherited from Urho?

[2017-10-12 12:40] mattbenic commented on #1633
@rokups did your build changes get PRd in?

@CTrauma adding you to this since you're also working on the build system.

[2017-10-12 13:00] rokups commented on #1633
@mattbenic yes, [they were merged](https://github.com/AtomicGameEngine/AtomicGameEngine/commit/2152ba1df4679515204456ac70d8795adee565eb).

[2017-10-12 13:11] mattbenic commented on #1643
@Alan-FGR I've just confirmed that the C# level Start does not get called from the contructor, but only when the component is first updated. ie during the Scene's HandleSceneUpdate on the first frame after the component's creation (there is a check if the component has been started yet).

@rokups No this is on the C# side. The "magic" methods (as Alan has called them elsewhere) are C# only methods

[2017-10-12 13:12] mattbenic commented on #1633
Ok so can we close this?

[2017-10-12 13:20] mattbenic commented on #1497
See #710 for prior related discussion.
Closing #1619 as a duplicate of this issue.

[2017-10-12 13:21] mattbenic commented on #1497
@ombre5733 did you have any success with this?

[2017-10-12 14:08] Alan-FGR commented on #1633
@rokups tested it so I'm closing @mattbenic

[2017-10-12 14:08] #1633 closed

[2017-10-12 14:14] ShalokShalom commented on #1649
KaOS and the current version of Atomic.

This is the build script I use:

https://gist.github.com/ShalokShalom/4d5827eddaf5e0820412f82465cebb0a

[2017-10-12 14:20] Alan-FGR commented on #1653
problem with this is that gameplay isn't deterministic when you use varying delta, which is the case for almost all games, not physengines are deterministic, so we can't just record and reproduce inputs, we'd need to trigger inputs according to the game state with a bit of tolerance, but even though it's not guaranteed not to fail. What we could do is simpler tests, for example, does the player mo

[2017-10-12 14:56] Alan-FGR commented on #1643
That still doesn't explain why that code fails... I guess CreateComponent() also ticks the Start()/Update(), or something weirder is happening somehow. Shouldn't CreateComponent() initialize/new and return the component? 😕

[2017-10-12 16:11] Alan-FGR commented on #1636
Navigation is Recast/Detour, but it doesn't require specific axiality, now that I've given it a second thought though, navigation uses mesh for generation and we may have to provide a better approach for that when it comes to 2d since most games are sprite based so you can't pass that data for navmesh generation.

[2017-10-12 16:20] JimMarlowe commented on #1653
Certainly, @Alan-FGR that be a really nice problem to have, and would need more work to handle your use case, this issue is meant to provide a framework to allow testing. But if the community has no interest in completing anything, or trying to maintain it, and are happy to have their users find their bugs for them, you are correct, this Issue does not need to be completed.

[2017-10-12 16:23] Alan-FGR commented on #1653
@JimMarlowe What? Sorry but you totally misunderstood me... I'm just saying that this isn't simple by any means, and the only easy way to implement something like that wouldn't be very useful, so we have to come with a proper solution that's not easy feat, because there's no way to hack our way with this one... this certainly would be useful, while it's not high priority imho.

[2017-10-12 17:11] Alan-FGR commented on #1641
Yep, any ideas if currently it gets the methods by reflection and stores the handle to call them, or just calls by reflection every time? Because if it's the latter it's arguable whether it's better in terms of perf

[2017-10-12 17:52] Alan-FGR commented on #1638
Nope :trollface:... but only important task is #3 which is covered somewhere else, other stuff is minimal.

[2017-10-12 17:52] #1638 closed

[2017-10-12 22:02] #51 closed

[2017-10-12 22:27] Alan-FGR commented on #37
Clarifications:
How large are we talking about? Are floats OK? Do we need origin shifting?
Are you talking about multithreaded level streaming with LODs and textures incremental streaming? (difficulty 5 certainly)

[2017-10-12 23:04] Alan-FGR commented on #1653
@JimMarlowe please clarify: are you talking about something that will allow us to know whether for example all enemies are killable and the level is finishable, or just something that will tell us if the level can crash the game or the player can move out of the bounds, etc?

[2017-10-12 23:07] Alan-FGR commented on #111
Is this relevant?
Merge with other issue for 2D physics API holes.

[2017-10-12 23:56] Alan-FGR commented on #115
@mattbenic @JimMarlowe care to elaborate? it flickers when you resize the UISceneView in code? What's the use case? Possibly #wontfix?

[2017-10-13 00:07] Alan-FGR commented on #117
closing this as potentially irrelevant, I'm not sure why that's used for, probably civetweb since cef has it built-in afaik.

[2017-10-13 00:07] #117 closed

[2017-10-13 00:11] Alan-FGR commented on #157
Any update on this?

[2017-10-13 00:13] Alan-FGR commented on #157
@mattbenic this is probably the kind of issue we'll have trouble fixing

[2017-10-13 00:15] Alan-FGR commented on #159
Irrelevant for new editor

[2017-10-13 00:15] #159 closed

[2017-10-13 00:28] Alan-FGR commented on #166
The prefab system should simply work with serialized data and get the inspectors for each component on demand imho.

[2017-10-13 00:30] Alan-FGR commented on #200
Related: Cache all underlying native objects, a lot of stuff like native pointers are get every access.

[2017-10-13 00:33] Alan-FGR commented on #204
Is this really necessary, will changes be reverted last time you load the scene if you don't 'apply' the changes in the prefabed node?

[2017-10-13 00:37] Alan-FGR commented on #217
What scan codes have to do with this? They're not related to the physical key position in any way, the easy solution here is just to allow key customization.

[2017-10-13 00:37] #217 closed

[2017-10-13 00:39] #222 closed

[2017-10-13 00:39] Alan-FGR commented on #222
Closing this but added in the project for consideration

[2017-10-13 00:41] Alan-FGR commented on #223
Would be cool, extremely low-priority though, possibly never gonna happen unless we have some Mac contributor

[2017-10-13 00:42] Alan-FGR commented on #225
@mattbenic this is what I'm talking about... playing the game directly in the editor

[2017-10-13 00:45] Alan-FGR commented on #229
Still happens in latest editor. Totally #wontfix

[2017-10-13 00:45] #229 closed

[2017-10-13 00:50] Alan-FGR commented on #235
I don't agree with this, is there any engine that does that? Maybe it could tell the user that a given asset has no 'users' like Blender but that would require keeping track of all assets in all scenes what's totally bug prone and could cause tons of problems like assets being deleted accidentally. I don't recommend it. To keep distributable size down just check at build time which assets aren't u

[2017-10-13 07:32] mattbenic commented on #1636
So this is more of a general "provide navigation for 2D" task. We discussed dropping maintenance of 2D completely previously, that would negate this completely.

[2017-10-13 07:34] mattbenic commented on #1633
Ok, so could you please add the above detail to the wiki page(s) on building, then we can close this.

[2017-10-13 07:36] rokups commented on #1633
Wiki has build instructions only using scripts. I have no idea how they work. Do they accept CMake variables?

[2017-10-13 07:46] mattbenic commented on #1641
It keeps references to them. There is a CSComponentInfo object corresponding to each CSComponent subclass in all referenced assemblies. There's probably room for optimization in how those are actually called though.

[2017-10-13 07:50] mattbenic commented on #1653
A general state testing harness (type thing.. not sure I know what the correct term for this would be) is something my team wants to build at some point for our own testing purposes. So it's possible that part would be something we can implement in core atomic. This is another example (like the network cache) of something that wouldn't necessarily serve the average indie using the engine, but woul

[2017-10-13 07:51] mattbenic commented on #115
I don't know anything about this one. But yeah low priority at very least.

[2017-10-13 07:53] mattbenic commented on #117
This seems like something that would be nice to have but would need an interested volunteer maintainer. Basically in the same vein as the other non-desktop CP areas.

[2017-10-13 07:54] mattbenic commented on #157
@Alan-FGR this is for whoever steps up as OSX maintainer, otherwise yeah, it won't get fixed.

[2017-10-13 07:55] mattbenic commented on #157
@CTrauma pulling you in as build maintainer. I forget, do you work on mac?

[2017-10-13 07:58] mattbenic commented on #225
I don't know that "Give users the option of quickly switching between scene view and Play mode" really implies the player should be embedded. I agree that being able to view the current scene in its current state while the game is playing, from an arbitrary view is important, but does not need to be achieved by embedding the player. If that _is_ the simplest/best way to achieve that, then so be it

[2017-10-13 07:59] mattbenic commented on #225
(I'm setting this as high priority because for us, it really is)

[2017-10-13 08:03] mattbenic commented on #1633
I don't think so. There are specific arguments that add/remove CMake variables, so it would be possible to add an argument that would make this change, if it's important enough. I do think it's one worth adding if someone wants to grab it.

[2017-10-13 08:04] rokups commented on #1633
That would be maintaining js part of build system that should be replaced with pure cmake. I do not think its worth it.

[2017-10-13 08:15] mattbenic commented on #1633
Fair enough. So close and "wontfix" this?

[2017-10-13 08:16] rokups commented on #1633
It already is fixed. All one has to do is build repo without cef and examples, meaning pass `-DATOMIC_CPLUSPLUS_EXAMPLES=0 -DATOMIC_WEBVIEW=0`.

[2017-10-13 08:20] mattbenic commented on #1633
Ah right, sorry I missed @Alan-FGR's close above

[2017-10-13 10:26] rokups opened #1657 "Investigate viability of Swig replacing binding generation process"
We should investigate viability of Swig replacing binding generation process. Swig is old and well maintained tool supporting multiple languages. Primary concern is c#, but it also opens doors for easy support of some other languages should they be considered in the future (python/java/go/etc).

I started experimenting with swig, my work can be viewed here: https://github.com/rokups/Urho3D/tree/fe

[2017-10-13 11:35] mattbenic commented on #1657
Lack of operator support isn't too big of an issue, given that math types should really just be mapped to C# equivalents with some efficient way of marshalling the underlying data. I can't imagine there would be too many other use cases.

Multiple inheritance and virtual methods would be a much bigger issue.

[2017-10-13 12:49] Alan-FGR commented on #225
@mattbenic it's not just a visual thing, but functional too. You want to be able to stop execution and inspect the objects, etc.

[2017-10-13 12:50] Alan-FGR commented on #1636
Indeed. Marking as potentially irrelevant since if we're dropping 2d it is indeed.

[2017-10-13 12:57] Alan-FGR commented on #1653
Meaningful automated gameplay testing is extremely difficult to achieve. I'm not saying it shouldn't be done, but this is potentially an independent product and certainly a much bigger project than Atomic itself. https://xkcd.com/1425/

[2017-10-13 13:02] mattbenic commented on #1653
We wouldn't be looking at full gameplay testing, but likely testing for the firing of specific events externally. That would likely be able to achieve something very similar to full testing though-or ba a basis to build on if someone wanted to extend it to that level of testing. Either way, it's something we need at some point so will likely work on it.

[2017-10-13 13:12] Alan-FGR commented on #1657
what about starting with something minimal to see if there's no important drawback or if there's a change we'll get stuck behind a wall ahead (e.g. multiple inheritance). If I understand correctly, I don't think the virtual methods will be a problem, it's just a matter of adding them to a blacklist isn't it?
I can't even get something to actually load the unmanaged library here :P such a noob... s

[2017-10-13 13:16] rokups commented on #1657
Totally. There must be a workaround, though i did not look for it that hard.

More like whitelist. Basically just add extra line for classes that are supposed to be inherited and have virtual methods. This is non-issue, just something to keep in mind.

As i understand it should produce one managed lib and one native lib.

[2017-10-13 13:24] Alan-FGR commented on #1197
I'm going to ref this in other issues related to 2D to clean them up a bit and also since we're probably dropping 2D support temporarily it's all potentially irrelevant

[2017-10-13 13:24] Alan-FGR commented on #111
Check https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1197

[2017-10-13 13:24] #111 closed

[2017-10-13 13:25] Alan-FGR commented on #252
Check https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1197

[2017-10-13 13:25] #252 closed

[2017-10-13 13:27] Alan-FGR commented on #276
Unless I'm missing something this is done

[2017-10-13 13:27] #276 closed

[2017-10-13 13:28] Alan-FGR commented on #277
how? mingw? @mattbenic #wontfix?

[2017-10-13 13:29] Alan-FGR commented on #280
Does Urho support something like a bin format or something? What are the possible caveats like hw support, etc?

[2017-10-13 13:31] Alan-FGR commented on #281
@mattbenic Once we have BGFX in there are at least 3 options we can choose from with varying levels of features and complexity. Including official snippet.

[2017-10-13 13:31] #281 closed

[2017-10-13 13:38] Alan-FGR commented on #285
I think I've reported this somewhere else...

[2017-10-13 13:52] Alan-FGR commented on #287
@mattbenic I'm closing this... 2 year old, GLES, if in the remote future we have problems it's going to be reported again

[2017-10-13 13:52] #287 closed

[2017-10-13 13:55] mattbenic commented on #277
I think priority low is sufficient. If someone wants to extend support to other toolchains themselves and PR, that's fine.

[2017-10-13 13:57] Alan-FGR commented on #304
If I understand correctly this would allow you to 'list' the files in the packed assets, @mattbenic is this still relevant for our future plans?

[2017-10-13 13:59] #310 closed

[2017-10-13 13:59] Alan-FGR commented on #310
Just a guess - unsupported texture format/size/etc

[2017-10-13 14:00] Alan-FGR commented on #311
This is most certainly a shadow biasing issue.

[2017-10-13 14:00] #311 closed

[2017-10-13 14:04] Alan-FGR commented on #328
@mattbenic are we going to revamp the prefab system? Can we just take advantage of built-in xml serialization or is it going to be hard to make it work with script components?

[2017-10-13 14:07] Alan-FGR commented on #329
What about preprocessor?

[2017-10-13 14:10] Alan-FGR commented on #340
Check https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1197
I'm not closing this because I don't really understand why it's only relevant for 2D and not 3D if you use the same blend mode and such. Does this happen with the 2D lights? Isn't that just a multiplying layer on post processing?

[2017-10-13 14:11] mattbenic commented on #304
I think we may actually have implemented (and PR'd) this already. I'll take a look next week to be sure.

[2017-10-13 14:15] mattbenic commented on #328
So there's a much bigger issue here, one that's been a major pain for ages: objects are either 100% linked to prefabs, or 100% disconnected. It's not possible to have an object based on a prefab but with one or two values changed on just that object (like in Unity).
This missing functionality actually makes prefabs much less useful, since the use cases for identical objects in a scene with zero ch

[2017-10-13 14:16] Alan-FGR commented on #344
Pipeline related.
@mattbenic are we keeping assimp? If so we have to determine which formats have decent support and disable all the others imho.

[2017-10-13 14:20] Alan-FGR commented on #358
What about a 'static' tickbox to mark objects that don't move so we can use that information for all kinds of optimizations besides the practical implications in workflow of course?

[2017-10-13 14:20] mattbenic commented on #344
Well until someone can commit to the time it would take to switch to something else and have it done, done, done before PR, yes we'll need to stick to assimp. And yeah I think trimming down the enabled types to at least ones we know work almost well enough would be good.

[2017-10-13 14:26] Alan-FGR commented on #359
Would this be an editor thing, or should we provide conversion API?

[2017-10-13 14:33] Alan-FGR commented on #244
I think this should be easy to fix for a Mac developer

[2017-10-13 14:35] Alan-FGR commented on #301
Check https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1197

[2017-10-13 14:51] Alan-FGR commented on #328
This pretty much only applies to the editor/scene: when you're instantiating a prefab from code it's inevitable that it will have the saved values upon creation that you later change, we could have a special overload to override the positional data right away though, what could be specially important if you have physics components in it so you instantiate it at the correct position already instead

[2017-10-13 14:56] mattbenic commented on #328
Looking at this again, I think what Lara described is exactly the opposite, being able to have prefabs have location data so when you place them they're positioned in the scene. TBH that makes no sense to me.

On overriding values in the scene, yeah we could basically just serialize just those parts of the object that are different alongside the reference to the prefab. When deserializing we apply

[2017-10-13 14:58] Alan-FGR commented on #328
Well, I think it's about the ability to assign rotation and scale to prefabs on the scene that are different than the values serialized in the prefab itself 😕

[2017-10-13 14:59] Alan-FGR commented on #328
Btw, in Unity prefabs do have positional data serialized, so if you instantiate them without passing any of that data they use the default values, say for example it's part of a scene you're loading at runtime from prefabs, etc.

[2017-10-13 15:01] mattbenic commented on #328
We can already do that though (position and scale prefab instances in the scene)

[2017-10-13 15:04] Alan-FGR commented on #328
Yep, prefabbed objects need to load the values from the prefabs except when they are overriden in the scene. I'm going to take a look on how Duality solved that, they have a system like Unity and their code is really great albeit a bit overengineered to my taste.

[2017-10-14 05:10] telmotrooper opened #1658 "Error related to Node.js when building from source (Arch Linux)"
Hello, guys. I've been trying to build the engine from source on Arch Linux with no success.
I think I got all the dependencies installed (since I just downloaded the ones required by that one outdated AUR package), which I believe are: alsa-lib, glu, gtk3, libgl, cmake, git and nodejs.

But the thing is, when I try to build by running Build_AtomicEditor.sh I get:
`which: no nodejs in (/usr/local/

[2017-10-14 07:14] rokups commented on #1657
Yesterday i moved work forward a bit, integrating it into build system and wrapping some extra stuff. Ofc it does not build due to some errors. Not too many so that is good.

[2017-10-14 23:48] telmotrooper commented on #1658
Okay, so I realised I could just create a symbolic link to workaround the issue and I did it:
`sudo ln -s /bin/node /bin/nodejs`
Now I don't get that `which` error but I still can't compile. The error is at 94%.

I'm gonna paste it here:

[code]

I'd be grateful if someone could help me.

[2017-10-15 08:20] rokups commented on #1658
Hey,
You probably are missing `referenceassemblies-pcl` package. Try installing it.

[2017-10-15 18:01] telmotrooper commented on #1658
@rokups Just installed and tried again, same error. :/

[2017-10-16 07:29] mattbenic commented on #304
Ok so it does exist in native code (PackageFile::GetEntryNames()) but no, we haven't exposed it to script. I think it's probably useful to have in script, so worth leaving on the issues board. But it definitely isn't high priority.

[2017-10-16 08:40] mattbenic commented on #358
That sounds useful, but the initial feature that just locks them from editor changes would be worthwhile as well.

[2017-10-16 11:52] Alan-FGR commented on #358
Yep, locking stuff in the editor, and disabling selection perhaps for some layers would be useful for sure.

[2017-10-17 00:47] vantienvincent commented on #1658
I got the exact error on Mac 10.11 and Mac 10.12. (same messages)

[2017-10-18 03:12] Alan-FGR commented on #1375
@mattbenic did you ask @JoshEngebretson about this one? Properly supporting FBX would surely cross the pipeline outta our list I think.

[2017-10-18 03:18] Alan-FGR commented on #1627
Wen you set the hardware cursor using SDL, apparently there's no restriction on image size, what strikes me as a but odd to say the least and indeed in my hardware any size seems to work perfectly fine, some engine however restrict hardware cursor to very small sizes (e.g.:32x32px) and fallback to the terrible software cursor when you exceed that size, I couldn't find any reason regarding that lim

[2017-10-18 05:22] mattbenic commented on #1375
I'll follow up with @Johanvanstaden and see if we ever got that written permission, and what the structure would be. If we can include source that would make things a lot easier. Though as I said on the gitter discussion I honestly wouldn't be opposed to a step in the build scripts that prompts for a download of a prebuilt lib if that's necessary, as long as it isn't too painful.

[2017-10-18 05:25] mattbenic commented on #1627
So what is the current issue? Is the ability to set the size just not exposed (since you say you were able to set it)

[2017-10-18 16:00] Alan-FGR commented on #1627
Nope, you can set it using SDL directly, there's no API and I've no idea on how the UIs set that, Urho UI probably just abstracts the SDL stuff, no idea on TB, but if it's software cursor that's not good, hardware cursor is the way to go but there gotta be some safe limits otherwise other engines won't be fallbacking.

[2017-10-20 03:08] HeadClot commented on #37
Hey @Alan-FGR - So the project that I am working on is basically a MMO of sorts. Nothing fancy just 100 to 150 players per server. If I go above that then I will look into SpatialOS.

That said - I have plans for multiple large maps. The Heightmaps are done and Made and Split into tiles already. I will need origin rebasing for what I want to do as well as spliting terrains into terrain tiles.

[2017-10-20 03:30] Alan-FGR commented on #37
some discussion on this: https://gitter.im/AtomicGameEngine/AtomicGameEngine?at=59e96a3d210ac269200ad6c4

[2017-10-22 21:37] brianewing opened #1659 "High DPI support"
Hey, what would be required to add high DPI support to the editor again?

I'd like to work on this

[2017-10-23 02:20] brianewing commented on #1653
Acceptance testing similar to the [Capybara](https://github.com/teamcapybara/capybara) model could work, simulating user interaction and polling for expected conditions within a certain time frame

An example of a high level test (specified in [Gherkin](https://cucumber.io/)) might be,
[code]

Gherkin provides a structure for defining tests as a series of reusable imperative steps (parsed with reg

[2017-10-23 02:30] jellythedoge opened #1660 "Error when building windows 10"
`C:\Users\MEME\Documents\GitHub\AtomicGameEngine>Build_AtomicEditor.bat

Building Atomic Editor, this process will take a few minutes

rm -rf C:\Users\MEME\Documents\GitHub\AtomicGameEngine/Artifacts/AtomicEditor/
rm -rf C:\Users\MEME\Documents\GitHub\AtomicGameEngine/Artifacts/AtomicNET/
rm -rf C:\Users\MEME\Documents\GitHub\AtomicGameEngine/Artifacts/Build/Windows/
rm -rf C:\Users\MEME\Documents

[2017-10-23 02:53] Alan-FGR commented on #1653
Very good points @brianewing. Using timed events is certainly not a good option, those 3 seconds you mention for example, sometimes are going to be slightly more, sometimes slightly less, so when it's long chains, e.g.: walk for 3 seconds, turn right for 1 second, walk another 3 seconds, the errors accumulate rather quickly so the player will end up at a different position each run. You already po

[2017-10-23 03:17] brianewing commented on #1653
@Alan-FGR How would you formulate that awareness? :slightly_smiling_face:

[2017-10-23 03:20] jellythedoge commented on #1660
Yea dont bother responding i will just install it on my arch Linux partition :/

[2017-10-23 03:44] Alan-FGR commented on #1653
Well, say for example a game with platforms to jump and enemies to kill, and consider the fact that you're often changing that during development (adding/removing platforms and enemies), so you can't hardcode the actions of the player, otherwise that won't be much useful and you end up with [this](https://xkcd.com/1319/)... for each object you change slightly you'd have to change the logic, what's

[2017-10-23 04:13] jellythedoge commented on #1618
same issue

https://hastebin.com/olatulirad.coffeescript

[2017-10-23 04:31] brianewing commented on #1653
That's a really interesting idea..! You could have a Super Meat Boy style play back of the AI's test runs to debug a failure. Maybe store all of them historically to get a laugh looking back through the old iterations...

AI testing sounds pretty awesome, imagine if you could train a network to the point that it could adapt and learn to complete levels as you change / create them :O. With a suffic

[2017-10-23 07:00] jellythedoge commented on #1660
It failed on both but i found out i didnt declare Cmake or use --vs2017

even though i only have vs2017 it would fail without it!

[2017-10-23 07:01] jellythedoge commented on #1655
--vs2017 worked for me!

[2017-10-23 08:12] jellythedoge commented on #1658
i get a similar or same error

[2017-10-23 09:04] mattbenic commented on #1659
I don't know offhand. If it's something you'd like to look into, you'd be more than welcome.

[2017-10-23 09:07] mattbenic commented on #1658
I'm not familiar with the linux build, but the Windows version includes its own node executable to use to build. @rokups is this not the case for linux?

[2017-10-23 09:08] rokups commented on #1658
I think i saw executable for linux in repository too, but build system appears to look for executable installed in the system.

[2017-10-23 09:10] mattbenic commented on #1660
Right, the default right now is to build with the 2015 toolchain if I remember correctly. There is currently some work going into rewriting the build process, so since you came right in the end I'm going to close this.

[2017-10-23 09:10] #1660 closed

[2017-10-23 09:16] mattbenic commented on #1658
It might be possible to change it fairly simply to use the one in the repo then? Is this something you could look into (I'm on Windows) or should I cast it out on gitter?

[2017-10-23 11:04] aurodev opened #1661 "Memory leak"
Atomic Editor and a fresh Racer 2D sample tested and show a slow memory leak that consumes around 3gb over a 5 hour period.

Another reference to similar issue:
https://discourse.atomicgameengine.com/t/memory-leak-in-both-atomic-editor-and-atomic-player/461

System: Win8.1, AMD Fx 6350, 8gb, AMD Radeon HD 7700

[2017-10-23 14:04] Alan-FGR commented on #1661
That example is mine 😛

[2017-10-23 14:56] brianewing opened #1662 "PhysicsPlatformer: character falls through platforms"
On Linux / master

![demo](https://user-images.githubusercontent.com/564458/31895944-708e6b08-b80a-11e7-9f96-519eca7d5daf.gif)

[2017-10-23 15:05] Alan-FGR commented on #1662
@brianewing could you please check in the editor if the colliders are being created for the tilemap? You need to select the individual tiles that are parented to the tilemap object, and check if there's a collider component attached to them. I don't reproduce that here.

[2017-10-24 11:10] aurodev commented on #1661
Nice example!  Proc generation  :)
Blank example, editor all leak. Profiling memory not really my area of "expertise".  But I'm giving it a shot.
If I blindly stumble on it I'll be sure to report.

![atomicmem1](https://user-images.githubusercontent.com/7356383/31939943-488232f4-b88a-11e7-989e-ee23cbef8b40.PNG)

[2017-10-24 11:18] aurodev commented on #1661
(From a cmake gen of Atomic)
![b](https://user-images.githubusercontent.com/7356383/31940250-71a44716-b88b-11e7-9f3b-bbc46a925aff.PNG)

[2017-10-24 11:25] Alan-FGR commented on #1661
@aurodev thank you 😄... it could be better though ;)
So apparently the problem isn't the example managed code. I'll try to reproduce that. Thanks for the info @aurodev

[2017-10-25 00:56] aurodev commented on #1661
Ok, not conclusive but I built Atomic without ATOMIC_PROFILING and the memory leak seems to be gone.  Let this sit for 2.5 hours still 78.1 MB   Diagnostics seemed to point to easy_profiler.
![image](https://user-images.githubusercontent.com/7356383/31975203-925f5398-b8fd-11e7-99c9-c246ffe6e7bf.png)

[2017-10-28 21:58] Alan-FGR commented on #1644
Update:
UrhoSharp doesn't have this problem:
[code]

[2017-10-29 17:03] VinnyVicious opened #1664 "Realtime GI or support for lightmap baker?"
Is there a way of improving lighting in my scenes?

[2017-10-29 18:35] Alan-FGR commented on #1664
Hello.
Unfortunately the light baking system we had in the works (glow) doesn't have a maintainer anymore, so unless you're OK coding some RTGI stuff (which got considerably easier now that Blender has probes and cubemap bakers you could take advantage of, and there are snippets in GitHub), then I'd say the best way to proceed is to just bake the lightmap using a 3D app of your choice (Blender is

[2017-10-29 18:40] nem0 commented on #1664
So can I export the scene from editor to Blender?

[2017-10-29 18:53] Alan-FGR commented on #1664
@nem0 that would only make sense if you were using the editor to make your scenes, like to create the level meshes and place the static stuff and such, since dynamic objects you don't want baked. But I'm assuming here that the scenes are made in a 3rd party application, especially considering the overall usability of the current editor for such purposes.

[2017-10-29 18:56] nem0 commented on #1664
AFAIK Atomic does not support making levels in 3rd party modelers, you can only make geometry, but can't create gameobjects or attach components in it. So this flow is not really possible.

[2017-10-29 19:00] Alan-FGR commented on #1664
If you need to somehow script stuff in the nodes holding the static stuff in your levels, then nope that's not possible, there's however a blender exporter that writes the scene xml files so objects in blender are translated into nodes with a few extras, including a sample on how to use that for lightmapping. If you need to script areas in your world, you can just use extra nodes for that, you nor

[2017-10-29 19:04] nem0 commented on #1664
For example:
static geometry, a house
with dynamic geometry: doors

[2017-10-29 19:06] Alan-FGR commented on #1664
Yes, that's an inconvenience, not a dealbreaker: you have the house including walls and everything 'static' in Blender, then you place the doors and whatnot in Atomic. I honestly don't see the big problem in that, it's not a showstopper by any means. 😕

[2017-10-29 19:07] nem0 commented on #1664
The you change the scene in blender, reexport and you lose your changes from editor?

[2017-10-29 19:08] Alan-FGR commented on #1664
Nope, obviously not, you just replace the node with data from Blender 😮

[2017-10-29 19:08] nem0 commented on #1664
How? That's not possible at the moment AFAIK

[2017-10-29 19:13] Alan-FGR commented on #1664
🤦‍ keep the data from Blender in a separate XML, say 'house_static_stuff.xml' when you change say a wall in the house, you update that XML, say you moved a wall and rebaked the lighting data, now you gotta move the doors and objects and whatnot to match that. You just don't touch the data in 'house_static_stuff.xml' unless when exporting from Blender, and Blender cannot change the objects it don't

[2017-10-29 19:23] nem0 commented on #1664
Let's move this to chat.

[2017-11-05 03:28] mikailcolak opened #1665 "OpenAssetImporter.cpp mistyped variable name in a condition."
I may found a problem in "~~/AtomicGameEngine/Source/ToolCore/Import/OpenAssetImporter.cpp";
Lline: 1010,

I think it should be
`if (channel->mNumScalingKeys > 0)`
rather than
`if (channel->mScalingKey > 0)`

i wasn't able to built before changing the code as I mentioned above.

OS: macOs High Sierra

[2017-11-06 08:02] mattbenic commented on #1665
Nice catch :) Please PR that change. We're currently working on getting CI up and running again, as soon as that's done we'll be able to test and merge your PR

[2017-11-06 19:56] mikailcolak commented on #1665
I have created a new pull request about this bug.

Have a nice coding.

[2017-11-07 06:06] mattbenic commented on #1665
Thanks :)

[2017-11-07 17:04] mikailcolak commented on #1665
👍  :)

[2017-11-09 21:59] Alan-FGR commented on #354
I don't think that line is correct anymore. It's not the ctor, I wonder if this is relevant, I don't see where default ID would make sense it certainly doesn't make any to add default for setters.

[2017-11-09 22:01] Alan-FGR commented on #360
I don't really understand this, is this for when you're dropping objects into the scene?

[2017-11-09 22:08] Alan-FGR commented on #428
I'm not sure if that's the way to go... if we had in-editor play mode, it would be trivial to tick only the anims, but I guess it's inevitable that eventually a proper animation editor/viewer like in other engines will be necessary.
So 👍 for playing scenes in the editor, but for animations that's not enough imho.

[2017-11-09 22:10] Alan-FGR commented on #430
I'm assigning myself because there's a duplicate somewhere, possibly two I guess.

[2017-11-09 22:11] Alan-FGR commented on #436
Better yet: allow hotkey customization and provide a decent UI that allows people to see and edit hotkeys easily

[2017-11-09 23:49] nem0 commented on #436
:+1:

[2017-11-10 01:56] Alan-FGR commented on #436
your thumbsup has a thumbsup :trollface:

[2017-11-10 09:19] mattbenic commented on #354
https://github.com/AtomicGameEngine/AtomicGameEngine/blob/73e2d0e1caadd7d384996d7226d7d63547e7727a/Source/Atomic/Scene/Node.h#L612

[2017-11-10 09:20] mattbenic commented on #360
No idea. Is this even relevant anymore with 2D being low priority?

[2017-11-10 09:21] mattbenic commented on #436
Adding a cheatsheet should be a much quicker add than any kind of customization, a relatively simple popup window in JS

[2017-11-10 09:26] mattbenic commented on #428
There is already an animation viewer (that also handles animation blending), what more did you have in mind?

[2017-11-10 11:16] Alan-FGR commented on #354
Oops, totally misread the title :facepalm:

[2017-11-10 11:18] Alan-FGR commented on #360
Well, probably not

[2017-11-10 11:27] Alan-FGR commented on #428
Well, viewer that allows you to switch characters to check retargeting, and also allow you to drag members to check IK, that kinda stuff. In fact for retargeting it would be extremely useful to have a viewer that displays say 4 characters using the same animation, so you can choose different body types for each of them to see if it's consistent, but I reckon this is too much work, and certainly no

[2017-11-10 11:39] mattbenic commented on #428
What's there at the moment is useful for us. Our needs are fairly specific though, we don't have characters that are just driven about by a simple controller, for example, so having a character just move in a scene isn't really massively useful.

What you're describing does sound more generally useful, but yeah a pretty massive undertaking.

[2017-11-14 12:36] Raj2032 opened #1668 "Suggestions and questions about AtomicGameEngine and the asset store"
I have a few suggestions to improve the AtomicGameEngine which are:

- Have a built in modeling tool
- Have a built in tool that converts anything made in Unity (such as the scripts made in Unity) and convert to something that AtomicGameEngine understands.

I wanted to ask you some questions.

Who regulates AtomicGameEngine assets that are stored in the assets store? Is it Github or is it the owne

[2017-11-14 15:23] mattbenic commented on #1668
Hi Raj,
1) A built in modelling tool is way out of Atomic's scope :)
2) There is a script somewhere (I think in one of the other repositories on the AtomicGameEngine account) that converts basic Unity scenes to Atomic ones. It hasn't been touched in ages, and would probably need some maintenance. You're welcome to volunteer for that.
3) There is no Atomic asset store. There are existing assets in

[2017-11-14 15:23] #1668 closed

[2017-11-14 22:24] Raj2032 commented on #1668
Hi Mattbenic,

I wanted to know is Atom FOSS - Free (as in freedom) and Open Source Software?

[2017-11-14 23:09] Alan-FGR commented on #1668
@Raj2032 Atomic is licensed under MIT which is approved by OSI

[2017-11-14 23:10] nem0 commented on #1668
I approve MIT too :nail_care:

[2017-11-19 14:52] agan123 opened #1669 "editor crash"
when i close the editor,the Windows will pop up the window: AtomicEditor has stopped. Also, when i close a game, this happens too.
my os: win7 x64

[2017-11-19 20:01] Alan-FGR commented on #1669
Hi.
Are you using C#? Did you use the build scripts and clone the master branch?
That kind of message shouldn't pop up in a release build since it's pretty harmless... maybe it should be silently logged but I don't know if that's how it works at the moment.

[2017-11-20 06:23] mattbenic commented on #1669
It shouldn't be popping up either, and may be an easy fix. The service shouldn't be needed at all by the game though. I've never seen this behavior, does it happen every time you close the editor, or intermittantly?

[2017-11-20 15:54] agan123 commented on #1669
@ Alan-FGR
I just open the editor, and then close the editor,it will happen every time.
I use the CMake_VS2015.bat and Build_AtomicEditor.bat to build the Atomic Editor.

[2017-11-21 17:45] JimMarlowe commented on #1653
Clarification: Say you have a body of work, and you are required to maintain and support it. When Atomic gets PR'd, there is currently no testing, so the game developer has to go and try each body of work to see if still works. If it doesn't, that means you have to use a previous version of Atomic for maintenance. And if you need further Atomic changes, you are hosed.
The game developers need a wa

[2017-11-24 17:23] BlueBukkitDev opened #1671 "Error with installation"
Twice I have tried to install this on my Linux Kubuntu and both times it came back with the same error after about 10 minutes of fetching and downloading. The executive file was never formed.
I saved a hastebin of the log from "[100%] Built target AtomicNETNative" all the way down to the last error. It was errors all the way after that. Hastebin: https://hastebin.com/ujizemozex.pl
Anything I'm doi

[2017-11-27 08:04] mattbenic commented on #1671
When you say you're "installing", what are you doing? Did you pull the latest master from github and run one of the build scripts?

[2017-11-28 04:11] BlueBukkitDev commented on #1671
I was using the Ubuntu commands through my Konsole as described on the AtomicGameEngine official website.

[2017-11-28 04:49] mattbenic commented on #1671
I'm sorry but you need to be more specific, or link to the exact page you're using.

[2017-11-28 05:20] BlueBukkitDev commented on #1671
I was linked to [this](https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Building-Atomic-from-Source#linux) GitHub page from [here](https://atomicgameengine.com/).

[2017-11-28 08:27] rokups commented on #1671
I could build everything successfully by running `sh Build_AtomicEditor.sh`.

@BlueBukkitDev log pasted to hastebin is not complete. I have a feeling that omitted log part contains some error. Maybe build system can not find nodejs?

[2017-11-28 16:44] BlueBukkitDev commented on #1671
I ran `sh Build_AtomicEditor.sh` and it exited with an error, as before. [Here's](https://hastebin.com/ujofevicoz.scala) the entire log, or at least everything that showed in the Konsole. I didn't see a .log file anywhere that contained it.

[2017-12-09 22:00] #1665 closed

[2017-12-11 13:25] Tom-III opened #1674 "Error at the end of compilation and error on AEditor startup"
At the end of running ```Build_AtomicEditor.bat --vs2017``` I get this error
Also the FeaturesExamples project does not show up in Visual Studio don't know if this is related or not.
Also when running AtomicEditor I get this error ```"Error executing main.js"```

[code]

[2017-12-13 09:06] apezel opened #1675 "Unable to build on mac os 10.12.1"
I'm unable to build the engine on MacOs 10.12.1 (Sierra). I'm getting this error :
[code]

[2017-12-15 09:41] Rishanthakumar opened #1676 "NPM atomic-cli get free key website is not working"
When i activate atomic using the below command,
`atomic-cli activate`
This is what i get:
![screen shot 2017-12-15 at 3 08 49 pm](https://user-images.githubusercontent.com/13392302/34036020-ed9de204-e1a9-11e7-9ae0-61f81d132f1d.png)

[2017-12-15 09:54] mattbenic commented on #1676
A key is no longer needed. If you build the latest version from source you'll be able to use it freely.

[2017-12-15 09:54] #1676 closed

[2017-12-21 09:07] xdeadmonkx commented on #1669
i encountered this problem too on editor or game closing (standart windows error message that disappears in few seconds)
Windows8, editor was build with --vs2017 flag

[2017-12-27 11:36] JMPizana opened #1677 "Error building"
Hi everyone.

I'm trying to build the editor with VS2017 on Win10. I have cmake in my path (_C:\Program Files\CMake\bin_) and installed the c++ tools on VS, but still, I always get the same error when building:

**fatal error A1000: cannot open file**

I have checked the folder, it exists, an it's not opened, and I have already tried to delete it for its re-generation. None of thi things have work

[2018-01-26 05:41] angrycans opened #1679 "Mac building error"
mac 10.13.2
xcode 9.2
node v8.9.4

 ./Build_AtomicEditor.sh --with-ios --nonet

[code]

[2018-01-27 04:42] nick70 commented on #1679
https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1612

[2018-01-27 14:35] anuprakash commented on #1662
Hi , I am having the same issues now in windows build also. A few months before this sample was working fine in windows pre-compiled binary downloaded from AtomicGameEngine.com

[2018-02-11 11:16] Wend1go commented on #1671
Can confirm this on Linux Mint 17.3 (64Bit)
`AtomicGameEngine/Build/node_modules/jake/lib/api.js:336:18)`
I installed all the dependencies mentioned in the build instructions on:
https://github.com/AtomicGameEngine/AtomicGameEngine/wiki/Building-Atomic-from-Source#linux
(needed to install cmake3 in addition to make it even start to compile)

[2018-02-13 07:09] NLDev commented on #1674
Exactly same issue here. Is there any update on this?

[2018-02-13 13:44] mattbenic commented on #1674
I've just done a clean build from master using `Build_AtomicEditor.bat --vs2017` and had a successful build

You mention that the FeatureExamples project didn't show up, did you do a recursive clone of AtomicGameEngine? The examples (and CEF) exist in a submodule

[2018-02-19 18:16] LiljebergXYZ commented on #1679
I'm currently experiencing the very same issue while building.
mac 10.13.2
xcode 9.0
node v8.5.0

[2018-02-23 11:41] mesilliac commented on #1429
(this issue should now be fixed in assimp master)

[2018-02-23 11:47] #1429 closed

[2018-03-03 05:37] mikrokode opened #1680 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:38] mikrokode opened #1681 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:38] mikrokode opened #1682 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:38] mikrokode opened #1683 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:39] mikrokode opened #1684 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:39] mikrokode opened #1685 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:39] mikrokode opened #1686 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:40] mikrokode opened #1687 "Unable to Download"
Friend,

Why all around the world I can download, just I could not download your software, I not angry but just don't understand.

[2018-03-03 05:42] mattbenic commented on #1680
Please stop spamming the issue system, and give more detail on what trouble you are having

[2018-03-03 14:13] #1681 closed

[2018-03-03 14:13] #1682 closed

[2018-03-03 14:13] #1683 closed

[2018-03-03 14:13] #1684 closed

[2018-03-03 14:13] #1685 closed

[2018-03-03 14:13] #1686 closed

[2018-03-03 14:13] #1687 closed

[2018-03-03 14:25] darrylryan commented on #1679
There aren't any devs working on the Mac stuff at the moment so it might be a while until this is fixed.
It did *used* to build fine for Mac though so I would suggest rolling your git history back to around this time last year and see if it builds OK then. At least that proves the rest of your stack is OK and you have a usable binary.

[2018-03-04 18:46] exaxeeae opened #1688 "i cant build android"
i have this error The file libAtomicPlayer.so is not found. This is required for APK generation.

pleas help

[2018-03-05 04:21] mattbenic commented on #1679
If we can identify a last good commit for Mac, perhaps we can tag it for reference until we have a mac maintainer?

[2018-03-05 04:23] mattbenic commented on #1680
There are no prebuilt binaries available right now, however you can download the source and build the engine yourself.

[2018-03-05 12:57] mikrokode commented on #1680
Friend,

Finally, I have succeeded to download your Game Engine. Thank You very much.
When I ran the Build_AtomicEditor.bat. I stuck in the following steps for a hour. May I know what is the reasons?

Building Atomic Editor, this process will take a few minutes

-- The C compiler identification is MSVC 19.0.24215.1
-- The CXX compiler identification is MSVC 19.0.24215.1
-- Check for working C comp

[2018-03-05 13:42] mikrokode commented on #1680
Friend,

Sorry sorry, my home network problem caused to download slow. Thank you very much.

[2018-03-05 16:58] franadoriv commented on #1679
I have the same error on Mac 10.13.2. Fresh git clone, no spaces on path.

[2018-03-06 12:13] mikrokode opened #1689 "Multiplayer Game"
Hi Friend,

Can you give me some ideas how to develop a Multiplayer Game using Atomic Game Engine? Or can you post an simple example of 3D Multiplayer Game in the example?

[2018-03-07 04:53] mattbenic commented on #1689
There is a multiplayer example in the AtomicEcamples repository: https://github.com/AtomicGameEngine/AtomicExamples

I'm not sure when last it was maintained.

[2018-03-07 04:54] #1689 closed

[2018-03-08 02:24] mikrokode opened #1690 "Multiplayer Example"
Where can i find a example of Multiplayer Game for your game engine?

[2018-03-08 09:09] mattbenic commented on #1690
I provided a response and link on your previous issue and closed it.

**Please stop opening multiple issues for the same topic.**

If you do this again I'll be forced to block you from the repository (since it is the only way I can stop you from creating new issues)

[2018-04-03 01:29] visiomedia commented on #1679
same error here on macos 10.13.3

[2018-04-08 21:06] Mitra-M opened #1694 "Binary build for windows?"
Hi everyone,

I'm new here, and so far have not been able to run this engine.

AtomicGameEngine page says:

I compiled it without any error , but it can't run correctly.  AtomicEditor.exe get: "Error executing main.js"

Can somebody give me a binary download link for windows?  please

[2018-04-09 14:52] csningli commented on #1679
Solved in my case (macosx 10.12.6, XCode 8.3.3, Qt 5.7). Try to build the editor with CMake directly.

1.  cd into the root directory of the clone.
2. open CMakeList.txt in editor and set the CMAKE_PREFIX_PATH to the directory containing Qt5Widgets. In my case, the following line has been added.
  `set (CMAKE_PREFIX_PATH = /Applications/Qt5.7.0/5.7/clang_64/lib/cmake`
3. Save and quit CMakeList.tx

[2018-04-10 06:12] mattbenic commented on #1679
@csningli would you be able to do a PR to get Atomic building on latest OSX tools?

[2018-04-10 06:14] mattbenic commented on #1694
Hi @Mitra-M, perhaps someone can join you on our gitter chat: https://gitter.im/AtomicGameEngine/AtomicGameEngine

[2018-04-12 01:35] csningli commented on #1675
Try to follow my suggestion in  [https://github.com/AtomicGameEngine/AtomicGameEngine/issues/1679](url) .

[2018-04-12 01:38] csningli commented on #1679
@mattbenic have you tried on maxos 10.13 with all '10.12' in my suggestion replaced with '10.13' ? does it show any errors?

[2018-04-14 04:07] csningli commented on #1679
Well, there are still some errors when building with Build_AtomicEditor.sh.
I will try to fix it and do a PR if everything get to work :)

--

Li @ Shenzhen ChoirTech Ltd.

On Thu, Apr 12, 2018 at 2:17 PM, Matt Benic <notifications@github.com>
wrote:

[2018-04-14 08:56] mattbenic commented on #1679
Thanks, that would be greatly appreciated :)

[2018-05-16 17:25] Murii opened #1695 "Cannot build for macOS"
Before waiting 10 minutes to clone the whole repository it would be __cool__ to know that Xcode 1.5 is not supported so I don't waste those minutes.

[2018-05-17 06:05] mattbenic commented on #1695
We don't currently have an OSX maintainer, If you'd like to get it working on Xcode 1.5 and PR the fixes, that would be more than welcome.

[2018-05-18 08:55] #1695 closed

[2018-06-05 11:04] OscarOG commented on #702
Hi!
Is there a way to flip normals of some faces of the object and not all without 3D editor?

Regards.

[2018-06-11 10:52] friendly-learner opened #1696 "Unable to clone git on Ubuntu 16.04"
I am unable to build the atomic engine. i am getting an error when i try to clone the git recursively as well as regularly.
--Regularly--
command run: git clone https://github.com/AtomicGameEngine/AtomicGameEngine.git

following message:
Cloning into 'AtomicGameEngine'...
remote: Counting objects: 55476, done.
error: RPC failed; curl 56 GnuTLS recv error (-9): A TLS packet with unexpected length w

[2018-06-20 16:43] SuperWangKai opened #1697 "Right and middle buttons should be switched"
Right mouse button is 1 while middle button is 2 in imgui:

https://github.com/AtomicGameEngine/AtomicGameEngine/blob/1729e34a09fd6c530f90a7ec4c1c2b4c828dfd80/Source/Atomic/UI/SystemUI/SystemUI.cpp#L145

[2018-07-04 15:24] zauberparacelsus opened #1698 "Website has invalid SSL Cert"
When trying to visit https://atomicgameengine.com , chrome blocks me from entering the site because the connection is insecure.  I see the following SSL error when this happens:

`NET::ERR_CERT_COMMON_NAME_INVALID`

[2018-07-15 02:18] zauberparacelsus commented on #1698
Still getting blocked by chrome :-/

[2018-08-11 11:31] baptx commented on #1698
It looks like only the URL without HTTPS http://atomicgameengine.com is redirecting to the GitHub repository. By the way, is this fork from Urho3D still maintained? The website is not available since a few months (https://web.archive.org/web/20180516074136/https://atomicgameengine.com/), the last commit was in November 2017 and the Twitter account is not active since July 2017 (https://twitter.com

[2018-08-11 22:48] Alan-FGR commented on #1698
@JoshEngebretson hey there, long time no see! :smiley:
@baptx [here's a related thread](https://discourse.atomicgameengine.com/t/status-update-and-passing-the-reins). Most of your code should be compatible with Urho3D except the JavaScript code but it should be easy to port. There are alternative C# bindings for Urho. Godot is a fine option, it has a lot of traction but there are still many things

[2018-08-12 10:44] baptx commented on #1698
@Alan-FGR thanks for the informations, would it be possible to merge your work on Atomic Game Engine into Urho3D?

[2018-08-12 17:05] Alan-FGR commented on #1698
Yes, certainly. In terms of API Atomic only changed some names and added stuff on top or Urho. It might require some manual intervention but it's certainly possible. Some new things that were added to Atomic aren't applicable to Urho anymore though, and even the network improvements will be rendered useless when knet is replaced by SLikeNet in Urho.

[2018-08-12 17:05] #1698 closed

[2018-09-06 10:01] mikrokode opened #1699 "Multiplayer"
Hi,
Does this game engine support multiplayer features?

[2018-09-11 12:30] madscientist42 commented on #1658
1) Why only "medium"?  It's not compiling, gang.  Most professionals call that a, "showstopper".  Doesn't matter if it's not "your" OS.  This is a smidge offputting, really.

2) Why is Atomic using it's "own" Node.js?  Not saying you shouldn't- but you're overriding the system default behaviors and not getting it right.  What does this class of issue do to the end-users getting the games built upo

[2018-09-11 12:44] telmotrooper commented on #1658
@madscientist42 Honestly when I couldn't get this to work I went for [Godot Engine](https://github.com/godotengine/godot) and I have not regretted it.

[2018-09-11 12:50] waterfirezero1 commented on #1658
I changed to Godot also after failed installation

[2018-09-11 14:06] mattbenic commented on #1658
The original developer of the engine has moved on, and there is no longer a community actively developing it. I would suggest moving on to another engine.

[2018-09-11 14:39] madscientist42 commented on #1658
It's slow on evaluation.  This is with an MSI ApachePro that chews up
things like DeusEx and Shadow of Mordor and spits out the seeds.  I agree
with the sentiment about considering elsewhere.  It's like I said...one
year?

On Tue, Sep 11, 2018, 8:44 AM telmotrooper <notifications@github.com> wrote:

[2018-09-11 14:44] madscientist42 commented on #1658
So, it's no longer being developed?  If there's suggestions by collabs to leave...WHY are you not flagging this in the README.md

Such a waste, such a shame- it had potential and with 26 collabs, you'd think they'd have kept up with it.

[2018-09-11 14:47] Alan-FGR commented on #1658
Anybody is free to fund further development. Until then people have bills to pay and mouths to feed.
@mattbenic I agree we should have that info very clearly stated in the README.md

[2018-09-11 14:47] #1658 closed

[2018-09-13 07:04] mattbenic commented on #1658
Agreed. Change to readme made

[2019-06-19 18:08] Chinmaygoyal commented on #1697
Can I work on this issue?

[2019-06-20 05:52] mattbenic commented on #1697
The project is kind of leaderless right now, so nobody's going to stop you :)

[2019-08-24 16:26] blockspacer opened #1702 "cling based C++ as scripting language / hot code reload"
cling based C++ as scripting language / hot code reload
Why? Able to run C++ script in runtime or compile it for max speed ( as in example https://github.com/derofim/cling-cmake )
Also: May be used to improve modules compile time

[2019-12-13 00:02] rezasailo commented on #1627
Tank

[2020-08-10 19:17] cs947939 opened #1703 "The website"
The website is not working

[2020-10-27 17:23] #1703 closed, assigned to nobody

[2021-10-03 12:41] Tekh-ops commented on #1679
Error copying directory from "/Users/mac/temp/AtomicGameEngine/Submodules/CEF/MacOSX/Release/CEF.framework" to "/Users/mac/temp/AtomicGameEngine/Source/AtomicEditor/AtomicEditor.app/Contents/Frameworks/CEF.framework".
make[2]: *** [Source/AtomicEditor/AtomicEditor.app/Contents/MacOS/AtomicEditor] Error 1
make[2]: *** Deleting file `Source/AtomicEditor/AtomicEditor.app/Contents/MacOS/AtomicEditor'

[2021-10-03 12:48] Tekh-ops commented on #1679
It deletes the mac executable

[2021-11-10 15:17] hilbert-yaa opened #1704 "Is this project still under maintainance?"
Hi! I just find this project and it seems interesting. But I noticed that issues haven't been updated for years in the tracker. I am wondering if we can still contribute to this project and if it's still under maintainance?

[2021-11-22 14:10] #1704 closed, assigned to nobody